/*-------------Robyn---适合长沙品牌站的 css 初始化 ------------- */
a,address,article, aside,b,body,center,dd, del,div, dl, dt, em, embed, fieldset,footer, form, h1, h2, h3, h4, h5, h6, header,html, i, iframe, img,label,legend, li,nav, object, ol, output, p,section, span,table, tbody, td, tfoot, th, thead,tr, tt, ul{
  word-wrap:break-word;/*单词断句*/
  }
  
  html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
      margin: 0;
      padding: 0;  /*清除元素的内外边距*/
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing:border-box;
  }
  
  fieldset, img, input, button {
      border: none;
      padding: 0;
      margin: 0;
      outline-style: none;  /*外面环绕线*/
  }
  
  ul, ol {
      list-style: none;
  }
  
  /*去掉原样式中的小黑点*/
  input {
      padding-top: 0;
      padding-bottom: 0;
      white-space:nowrap;
      font-family: "arial";  /*字体的自动识别*/
  }
  
  select, input {
      vertical-align: middle;
  }
  
  /*输入字居中显示*/
  select, input, textarea {
      font-size: 12px;
      margin: 0;
  }
  
  /**/
  textarea {
      resize: none;  /*不可以随意拖动*/
  }
  
  /*防止拖动*/
  img {
      border: 0;
      vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
  }
  
  table {
      border-collapse: collapse; /*合并外连线*/
  }
  
  body {
      font: 14px/150% "arial";
      color: #999; /*150%基于当前字体尺寸的百分比行间距*/
      background: #f6f6f6;
  }
  
  .clearfix:before, .clearfix:after {
      /*清除浮动*/
      height: 0;
      content: "";
      display: block;
      clear : both;
      visibility: hidden;
  }
  
  .clearfix {
      *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
  }
  
  a {
      color: #999;   /*a 标签是不继承颜色 的*/
      text-decoration: none;
  }

@media (min-width: 997px) {
    /*hover属性均在PC端*/
    a:hover {
        color: #C81623;
    }
}
  h1, h2, h3, h4, h5, h6 {
      text-decoration: none;
      font-weight: normal;
      font-size: 100%;
  }
  
  s, i, em {  /*一般是起装饰作用*/
      font-style: normal;  /*去掉原有的样式*/
      text-decoration: none;  /*去掉下划线或是删除线*/
  }
  
  .col-red {
      color: #d53333 !important;/*长沙品牌主色调*/
  }
  
  /*公共类*/
  .w {
      /*版心 提取 */
      /* 此次设计图不符合业界规范 */
      /* width: 1500px; */

      margin: 0 auto;
  }
  
  .fl {
      float: left;
  }
  
  .fr {
      float: right;
  }
  
  .al {
      text-align: left;
  }
  
  .ac {
      text-align: center;
  }
  
  .ar {
      text-align: right;
  }
  
  .hide {
      display: none;
  }
  .pr{
       position:relative;
  }

  .df-jcai-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /* 去除引入iframe默认样式 */
  iframe {
  display: block;
  border: 0;
  }

  /* 再次强调 用于更改用于计算元素宽度和高度的默认的 CSS 盒子模型 */
  * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

:-moz-placeholder {color: #999; opacity:1;  }

::-moz-placeholder {color: #999;opacity:1;  }

input:-ms-input-placeholder, textarea:-ms-input-placeholder{color: #999;opacity:1;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #999;opacity:1;}

html {-webkit-tap-highlight-color: transparent;}

article, aside, details, figcaption, figure, footer, header, menu, nav { display: block; width:100%;}

  /*-------------Robyn---适合长沙品牌站的 css 初始化完成 ------------- */
  