// 头部样式

.header {
  width: 1920px;
  height: 80px;
  background-color: #fff;
  padding-top: 28px;
  padding-left: 210px;
  overflow: hidden;
  position: relative;

  // logo标签
  .logo {
    float : left;
    width: 222px;
    height: 31px;
    background: url("../img/logo.png") no-repeat;
    background-size: 100%;
    margin-right: 70px;
  }

  // 导航栏
  #nav {
    float: left;
    overflow: hidden;
    width: 1064px;
  }

  .nav-in {
    overflow: hidden;
  }

  .nav-in li {
    float: left;
    margin-right: 62px;
    width: 76px;
    height: 80px;
    a {
      color:#000;
      font:  14px "ArialMT","SimSun";
      padding-bottom: 4px;
    }
        
  }
  .active {
    
  }

  .nav-in li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }

  .search {
    float : left;
    display: block;
    width: 24px;
    height: 24px;
    background: url("../img/search02.png") no-repeat center center;
    background-size : 100%;
    margin-right: 60px;
    cursor: pointer;
  }

  



  .loginBox {
    float : left ;
  }

  .login,.register {
    a {
      color:#000;
      font:  14px "AdobeHeitiStd-Regular","SimSun";
    }
  }
  .login {
    padding-right: 12px;
    a {
      display: inline-block;
      width: 50px;
      border-right: 1px solid #eee;
    }
    
  }
}

.detailBox1,.detailBox2,.detailBox3,.detailBox4 {
  display: none;
  position: absolute;
  z-index: 999;
  top : 96px;
  left : 0;
  width: 1920px;
  height: 320px;
  // background-color: rgba(255,255,255,.9);
  background-color: yellowgreen;
}
.detailBox2 {
  background-color: pink;
}
.detailBox3 {
  background-color: skyblue;
}
.detailBox4 {
  background-color: orange;
}

.test {
  width: 76px;
  height: 10px;
  background-color: red;
}

.selected {
  display : block;
}


// 底部样式
footer {
  width: 1920px;
  height: 440px;
  background-color: #262626;
  padding-top: 114px;
  padding-left: 212px;
  

section {
  overflow: hidden;
  margin-bottom: 68px;
}
  .subscribeContent {
    float: left;
    width: 400px;
    margin-right: 686px;
  }
  .subscribe {
    display : block;
    color : #fff;
    font : 12px "ArialMT","SimSun";
  }
  .warning {
    color : #999;
    font : 12px "ArialMT","SimSun";
  }
  input {
    display: inline-block;
    width: 285px;
    height: 32px;
    background-color: #333;
    outline-style: none;
    border-color: transparent;
    color : rgba(221,221,221,0.5);
    font : 13px "ArialMT","SimSun";
  }
  .subscribeA {
    display: inline-block;
    width: 100px;
    height: 32px;
    padding-top: 10px;
    font : 12px "ArialMT","SimSun";
    color : #fff;
    text-align: center;
    background-color: #666;
  }

  .inputContent {
    margin-bottom: 26px;
  }

  .websiteLink {
    overflow: hidden;
    
  }
  .websiteLink li {
    float: left;
    width: 28px;
    height: 28px;
    background-color: #999;
    border-radius: 50%;
    margin-right: 12px;
    margin-bottom: 25px;
    background: url("../img/icon.png") no-repeat -2px -9px;
  }
  .websiteLink li:nth-child(2) {
    background-position: -2px -49px;
  }
  .websiteLink li:nth-child(3) {
    background-position: -2px -90px;
  }
  .websiteLink li:nth-child(4) {
    background-position: -2px -132px;
  }
  .websiteLink li:nth-child(5) {
    background-position: -2px -172px;
  }
  .websiteLink li:nth-child(6) {
    background-position: -2px -214px;
  }
  .websiteLink li:nth-child(7) {
    background-position: -2px -254px;
  }
  a {
    display : inline-block;
    width: 100%;
    height: 100%;
  }

  .email {
    display: block;
    height: 0px;
    margin-bottom: 18px;
  }

  .email,.tel {
    color : #999;
    font : 12px "ArialMT","SimSun";
  }

  .about,support {
    float: left;
    color: #fff;
    font : 12px "ArialMT","SimSun";
    margin-right: 106px;
    li {
      height: 0px;
      margin-bottom: 18px;
    }
    li:nth-child(1) {
      height: 0px;
      margin-bottom: 26px;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      color : #999;
    }
  }
  p {
    text-align: center;
    color: #515151;
    font : 12px "ArialMT","SimSun";
  }
}

