.header {
  background-color: #fff;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 5%;
}
.header .liMain {
  display: none;
}
.header .logo {
  width: 222px;
  height: 80px;
  margin-right: 70px;
}
.header .logo #moreslan {
  margin: 0;
  width: 100%;
  height: 100%;
}
.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo.png") no-repeat center;
  background-size: 100%;
  text-indent: -999em;
  overflow: hidden;
}
.header .mr47 {
  margin-right: 47px;
}
.header .nav-in > li {
  position: relative;
  float: left;
  height: 80px;
  padding-top: 35px;
}
.header .nav-in > li a {
  display: inline-block;
  color: #000;
  font: 14px "arialMT";
  vertical-align: top;
}
.header .nav-in > li .liMain {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 0 60px 0px;
}
.header .nav-in > li .liMain a {
  display: inline;
  padding: 0 !important;
}
.header .nav-in > li .liMain .dlList {
  width: 900px;
  margin: 0 auto;
}
.header .guide {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
  border-width: 6px;
}
.header .nav-in li:hover .liMain,
.header .nav-in li:hover .guide {
  display: block;
}
.header .nav-in li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.header .firstdl {
  margin-right: 88px;
}
.header .firstdl dd {
  height: 26px;
}
.header .firstdl dt:nth-child(6),
.header .firstdl dt:nth-child(5) {
  margin-top: 14px;
}
.header .firstdl dd:last-child {
  height: 14px;
}
.header .firstdl dd a {
  color: #666;
  font: 14px "arialMT";
}
.header .firstdl dd a:hover {
  color: #d75656;
  border-bottom: 1px solid #d75656;
}
.header .firstdl .titledt {
  height: 23px;
}
.header .firstdl .titledt a {
  color: #333;
  font: bold 14px "arialMT";
}
.header .firstdl .titledt a:hover {
  text-decoration: none;
  color: #d75656;
  border-bottom: 1px solid #d75656;
}
.header li.pr {
  width: 24px;
  margin: 0 40px 0 220px;
}
.header #search {
  position: absolute;
  top: 54%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../img/search02.png") no-repeat center center;
  cursor: pointer;
}
.header #search:hover {
  border: none;
}
.header .login,
.header .register {
  display: inline-block;
}
.header .login a,
.header .register a {
  color: #000;
  font: 14px "AdobeHeitiStd-Regular";
}
.header .login a {
  display: inline-block;
  width: 47px;
  border-right: 1px solid #eee;
}
.header .register {
  padding-left: 6px;
}
footer {
  width: 100%;
  height: 440px;
  background-color: #262626;
  padding-top: 114px;
}
footer section {
  width: 78%;
  margin: 0 auto 68px;
  overflow: hidden;
}
footer .subscribeContent {
  float: left;
  width: 400px;
}
footer .subscribe {
  display: block;
  color: #fff;
  font: 12px "ArialMT";
  margin-bottom: 25px;
}
footer .warning {
  color: #999;
  font: 12px "ArialMT";
}
footer input {
  display: inline-block;
  width: 285px;
  height: 32px;
  background-color: #333;
  outline-style: none;
  border-color: transparent;
  color: rgba(221, 221, 221, 0.5);
  font: 13px "ArialMT", "SimSun";
  vertical-align: top;
}
footer .subscribeA {
  display: inline-block;
  width: 100px;
  height: 32px;
  padding-top: 10px;
  font: 12px "ArialMT";
  color: #fff;
  text-align: center;
  background-color: #666;
}
footer .inputContent {
  margin-bottom: 26px;
}
footer .websiteLink {
  overflow: hidden;
}
footer .websiteLink li {
  float: left;
  width: 28px;
  height: 28px;
  background-color: #999;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 25px;
  background: url("../img/icon.png") no-repeat -2px -9px;
}
footer .websiteLink li:nth-child(2) {
  background-position: -2px -49px;
}
footer .websiteLink li:nth-child(3) {
  background-position: -2px -90px;
}
footer .websiteLink li:nth-child(4) {
  background-position: -2px -132px;
}
footer .websiteLink li:nth-child(5) {
  background-position: -2px -172px;
}
footer .websiteLink li:nth-child(6) {
  background-position: -2px -214px;
}
footer .websiteLink li:nth-child(7) {
  background-position: -2px -254px;
}
footer a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
footer .email {
  display: block;
  height: 0px;
  margin-bottom: 18px;
}
footer .email,
footer .tel {
  color: #999;
  font: 12px "ArialMT";
}
footer .about {
  float: right;
  color: #fff;
  font: 12px "ArialMT";
  margin-right: 106px;
}
footer .about li {
  height: 0px;
  margin-bottom: 18px;
}
footer .about li:nth-child(1) {
  height: 0px;
  margin-bottom: 42px;
}
footer .about a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #999;
}
footer .copyright {
  width: 100%;
  color: #515151;
  font: 12px "ArialMT";
}
@media screen and (max-width: 1024px) {
  .navbar-default {
    background-color: black;
  }
  .header .toUpArrows {
    display: none !important;
  }
  footer {
    padding-top: 0;
  }
  footer .subscribeContent {
    width: 100%;
    margin-bottom: 10px;
  }
  footer .subscribeA {
    margin-top: 10px;
  }
  footer section {
    margin: 0 0 20px;
  }
  footer .about {
    width: 50%;
    float: left;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1920px) {
  .header .hdMain {
    width: 1500px;
    margin: 0 auto;
  }
  .header li.pr {
    margin: 0 40px 0 525px;
  }
  .carousel {
    position: relative;
    width: 100%;
    height: 880px;
  }
  .carousel-control {
    top: 348px;
  }
  main .products {
    width: 1920px;
    padding: 0 0 0 210px;
  }
  main .productsContent {
    width: 1494px;
  }
  main .toUpArrows {
    right: 144px;
    bottom: 90px;
  }
}
