.wrap { margin: 0 auto; }
@media (min-width: 992px) {
  .wrap {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrap {
    width: 1200px;
  }
}
@media (min-width: 1600px) {
  .wrap {
    width: 1500px;
  }
}
@media (max-width: 768px) {
  .wrap {
    width: 96%;
  }
}
/******** header *******/
.header_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}
.index_header {
  background-color: transparent;
  color: #fff;
}



.other_header {
  background-color: #fff;
}
.header_box .logo, .header_box .logo img{
  height: auto;
}
.nav_user a {
  font-size: 14px;
  line-height: 24px;
}
.index_header .nav_user a {
  color: #fff;
}
.other_header .nav_user a {
  color: #333;
}
.nav_user .search {
  float: left;
  width: 28px;
  height: 26px;
  margin-right: 54px;
  background: url("../images/search.png") no-repeat;
}
.index_header .nav_user .search {
  background-position: 0 0;
}
.other_header .nav_user .search {
  background-position: -30px 0;
}
.user_action li a {
  display: block;
}
.user_action li.line {
  margin: 5px 12px;
  width: 1px;
  height: 14px;
  background-color: #999;
}

/****** footer *****/
.footer {
  padding: 114px 0 28px 0;
  background-color: #262626;
  font-size: 12px;
}
.footer_leftPart {
  width: 400px;
}
.footer_leftPart .footer_title {
  color: #fff;
  margin-bottom: 18px;
}
.footer_leftPart .email_input, .footer_leftPart .btn_submit {
  height: 32px;
  line-height: 32px;
  color: #fff;
  border-radius: 2px;
}
.footer_leftPart .email_input {
  width: 72%;
  padding: 0 14px;
  background-color: #333;
}
.footer_leftPart .btn_submit {
  width: 25%;
  background-color: #666;
  transition: all ease .3s;
  cursor: pointer;
}

.footer_leftPart .msg {
  line-height: 28px;
}

#email_msg {
  display: none;
}

.icon_list {
  margin: 26px 0 12px 0;
}
.icon_list a {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  margin-right: 10px;
  background-image: url("../images/icon_share.png");
  transition: all ease-in .3s;
}
.icon_list a.fb {
  background-position: 0 0;
}
.icon_list a.fb:hover {
  background-position: 0 -35px;
}
.icon_list a.gg {
  background-position: -35px 0;
}
.icon_list a.gg:hover {
  background-position: -35px -35px;
}
.icon_list a.In {
  background-position:-70px 0;
}
.icon_list a.In:hover {
  background-position: -70px -35px;
}
.icon_list a.You {
  background-position: -105px 0;
}
.icon_list a.You:hover {
  background-position: -105px -35px;
}
.icon_list a.Twitter {
  background-position: -140px 0;
}
.icon_list a.Twitter:hover {
  background-position: -140px -35px;
}
.icon_list a.pp{
  background-position: -175px 0;
}
.icon_list a.pp:hover {
  background-position: -175px -35px;
}
.icon_list a.tt {
  background-position: -210px 0;
}
.icon_list a.tt:hover {
  background-position: -210px -35px;
}
.footer_rightPart dl dt {
  color: #fff;
  margin-bottom: 14px;
}
.footer_rightPart dl dd {
  line-height: 26px;
}
.footer_rightPart dl dd a:hover {
  color: #fff;
  text-decoration: underline;
}
.copy_right {
  margin-top: 48px;
  text-align: center;
  color : #666;
}

/*PC端*/
@media (min-width: 997px) {
  .logo {
    margin-top: 22px;
    margin-right: 40px;
    display: inline-block;
    width: 228px;
    height: 36px;
  }

  .index_header:hover {
    background-color: #f4f5f5 !important;
    color : #333 !important;
  }
  
  .index_header:hover .nav_bar .nLi > a,.index_header:hover .nav_user a{
    color : #333 !important;
  }
  
  .nav_bar .nLi > a:hover {
    border-bottom: 1px solid #333 !important;
  }

  .index_header:hover .nav_user .search {
    background-position : -30px 0 !important;
  }

  .index_header:hover .logo>img {
    display: none;
  }
  .index_header:hover .logo {
    height: 36px !important;
    background: url("../images/logo.png") no-repeat !important;
  }
  /* robyn_join */
  /* .logo {
    display: block;
    width: 228px;
    height: 80px;
  }
  .other_header .logo {
    background : url("../images/logo.png") no-repeat center center;
  } */
  /* robyn_end */
  .logo img {
    width: 228px;
  }
  .nav_bar {
    display: block;
  }
  .nav_bar .nLi {
    float: left;
    margin: 30px 30px 0 30px;
    padding-bottom: 24px;
    cursor: pointer;
  }
  .nav_bar .nLi > a {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 24px;
  }
  .index_header .nav_bar .nLi > a {
    color:#fff;
  }
  .other_header .nav_bar .nLi > a {
    color:#333;
  }
  .nav_bar .nLi > b,  .user_action li b{
    display: block;
    width: 0;
    height: 1px;
    margin: 0 auto;
    transition: all ease .3s;
  }
  .index_header .nav_bar .nLi > b, .index_header .user_action li b {
    background-color: #fff;
  }
  .other_header .nav_bar .nLi > b, .other_header .user_action li b {
    background-color: #333;
  }
  .nav_bar .nLi.arrow > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 40%;
    bottom: -26px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(255, 255, 255, .9);
  }
  .nav_bar .nLi:hover > b ,.user_action li:hover b{
    width: 100%;
  }
  .nav_user {
    margin-top: 30px;
  }
  /*下拉菜单*/
  .menu_bg {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
  }
  .menu_box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 294px;
    padding-bottom: 50px;
  }
  .menu_box .menu_list {
    width: 230px;
    margin-right: 12px;
    margin-top: 22px;
    line-height: 28px;
  }
  .menu_list dt {
    font-weight: bold;
    color: #333;
  }

  .menu_list dt>a {
    color : #333;
  }

  .menu_list a {
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color : #666;
    /* color : black; */
  }
  .menu_list a:hover {
    color : #d53333 !important;
    /* text-decoration: underline; */
    /* border-bottom: 1px solid #333; */
  }
  /*footer*/
  .footer_rightPart dl {
    margin-left: 110px;
  }
  .footer_rightPart dl:first-child {
    margin-left: 0;
  }
  .footer_leftPart .btn_submit:hover {
    background-color: #333;
  }
  /* backupTop */
  .toUpArrows {
    position: fixed;
    bottom: 288px;
    right: 28px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background-color: #333;
    text-align: center;
    cursor: pointer;
    display: none;
  }
  
  .toUpArrows:hover {
    opacity: 0.9;
  }
}

/*m端*/
@media (max-width: 768px) {
  .header_box {
    height: 50px;
  }
  .logo img {
    width: 120px;
    margin-top: 16px
  }
  .nav_bar {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 42px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, .5);
  }
  .nav_bar .nLi {
    background-color: rgba(255, 255, 255, .9);
  }
  .nav_bar .nLi > a {
    padding: 0 4%;
    /*font-weight: bold;*/
    /*font-size: 16px;*/
  }
  .nav_bar .nLi > b {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    transform: scaleY(0.5);
  }
  .nav_bar .nLi a:active {
    background-color: rgba(238, 238, 238, .9);
  }
  .menu_bg .wrap {
    width: 100%;
  }
  .menu_list a, .nav_bar .nLi > a {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .menu_list dd {
    display: none;
  }
  .menu_list dt a {
    padding: 0 4% 0 8%;
  }
  .menu_list dd a {
    padding: 0 4% 0 12%;
    font-size: 12px;
  }
  .menu_list dt:after, .menu_list dd:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    transform: scaleY(0.5);
  }
  /*箭头生成*/
  .menu_child > a:after {
    content: '';
    position: absolute;
    right: 4% ;
    top: 14px;
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #737373;
    border-right: 2px solid #737373;
    transform: rotate(130deg);
  }
  /*右侧用户栏*/
  .nav_user .search {
    display: none;
  }
  .user_action {
    margin-top: 13px;
  }
  .navbar_toggle {
    width: 24px;
    margin-left: 15px;
    padding: 3px;
  }
  .navbar_toggle:active {
    background-color: #333;
  }



  .navbar_toggle span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: 3px 0;
  }

  .other_header .navbar_toggle span {
    background-color: #000;
  }
    /* footer */
  .footer {
    padding: 24px;
  }
  .footer_leftPart, .footer_rightPart {
    width: 100%;
  }
  .footer_rightPart {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer_rightPart dl {
    width: 48%;
  }
  .footer_rightPart dl dt, .footer_rightPart dl dd a {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .copy_right {
    margin-top: 18px;
  }
  .footer_leftPart .btn_submit:active {
    background-color: #333;
  }

}
