/*
 * @Author: Robyn 
 * @Date: 2018-02-05 17:08:32 
 * @Last Modified by: Robyn
 * @Last Modified time: 2018-02-05 17:11:07
 */
/* .proShow {
  width: 100%
  height: 320px;
} */
body {
  background-color: #fff;
}

.hca {
  margin-top : 80px;
}

.proShow img {
  width: 100%;
  height: auto;
}


.content {
  width: 100%;
  background-color: #fff;
  padding-top : 59px;
  padding-bottom: 160px;
  /* padding: 59px 0px 0px 208px; */
}
.content .contentShow {
  width: 90%;
  
  margin : 0px auto ;
  border: 1px solid #ddd;
  padding: 36px 0px 36px 24px;
  color: #666;
  
}
.content .contentShow .left {
  width: 61%;
  float: left;
}
.content .contentShow .tit {
  color: #333;
  font-weight: bold;
  margin-bottom: 24px;
}

.content .contentShow .par {
  line-height: 24px;
}

.content .contentShow .right {
  width: 34%;
  height: 244px;
  float: left;
  border-left: 1px solid #f0f0f0;
  padding-left: 78px;
}
.content .contentShow .right p {
  margin-bottom: 20px;
}


/* M端 */
@media screen and (max-width: 780px) {
  .content .contentShow .left {
    width: 100%;
  }

  .content .contentShow .right {

    width: 100%;  
    margin-top : 10px;
    padding-left : 0;
    border : none;  
  }

  
 }