.header {
  width: 1920px;
  height: 80px;
  background-color: black;
  padding-top: 28px;
  padding-left: 210px;
  overflow: hidden;
  position: relative;
}
.header .logo {
  float: left;
  width: 222px;
  height: 31px;
  background: url("../img/icon.png") no-repeat 0 -294px;
  margin-right: 70px;
}
.header #nav {
  float: left;
  overflow: hidden;
  width: 1064px;
}
.header .nav-in {
  overflow: hidden;
}
.header .nav-in li {
  float: left;
  margin-right: 62px;
  width: 76px;
  height: 80px;
}
.header .nav-in li a {
  color: #fff;
  font: 14px "ArialMT", "SimSun";
  padding-bottom: 4px;
}
.header .nav-in li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.header .search {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/search.svg") no-repeat center center;
  background-size: 100%;
  margin-right: 60px;
  cursor: pointer;
}
.header .loginBox {
  float: left ;
}
.header .login a,
.header .register a {
  color: #fff;
  font: 14px "AdobeHeitiStd-Regular", "SimSun";
}
.header .login {
  padding-right: 12px;
}
.header .login a {
  display: inline-block;
  width: 50px;
  border-right: 1px solid #282828;
}
.detailBox1,
.detailBox2,
.detailBox3,
.detailBox4 {
  display: none;
  position: absolute;
  z-index: 999;
  top: 96px;
  left: 0;
  width: 1920px;
  height: 320px;
  background-color: yellowgreen;
}
.detailBox2 {
  background-color: pink;
}
.detailBox3 {
  background-color: skyblue;
}
.detailBox4 {
  background-color: orange;
}
.test {
  width: 76px;
  height: 10px;
  background-color: red;
}
.selected {
  display: block;
}
iframe {
  display: block;
  border: 0;
}
.carousel {
  position: relative;
  width: 1920px;
  height: 876px;
}
.carousel-control {
  position: absolute;
  top: 348px;
  width: 84px;
  height: 84px;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.left {
  left: 28px;
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
  position: absolute;
  top: 27%;
  transform: translate(-50%, -50%);
}
.glyphicon-chevron-left:before {
  left: 37%;
  content: "<";
}
.glyphicon-chevron-right:before {
  left: 75%;
  content: ">";
}
.carousel-control.right {
  right: 28px;
}
main {
  position: relative;
}
main .productShow {
  width: 1920px;
  overflow: hidden;
}
main .productShow li {
  float: left;
  width: 942px;
  height: 580px;
  margin-top: 12px;
  margin-left: 12px;
}
main .products {
  width: 1920px;
  margin: 120px 0 50px 0;
  padding-left: 210px;
}
main .productsContent {
  width: 1494px;
}
main .productsContent .bestSlect {
  text-align: center;
  color: #333;
  font: 36px "ArialMT", "SimSun";
  margin-bottom: 60px;
}
main .productsShow {
  overflow: hidden;
}
main .productsShow li {
  float: left;
  text-align: center;
  width: 286px;
  height: 360px;
  border: 1px solid #f5f5f5;
  margin-right: 19px;
  margin-bottom: 50px;
}
main .productsShow li img {
  width: 220px;
  height: 220px;
}
main .productsShow a {
  text-align: center;
  color: #333;
  font: 16px "ArialMT", "SimSun";
}
main .productsShow p {
  margin-top: 64px;
}
main .hide {
  display: none;
}
main .loadMoreBox {
  width: 1920px;
  padding-left: 880px;
  margin-bottom: 140px;
}
main .loadMore {
  width: 170px;
  height: 38px;
  padding-top: 14px;
  cursor: pointer;
  color: #262626;
  text-align: center;
  font: 14px "ArialMT", "SimSun";
  border: 1px solid #333;
}
main .toUpArrows {
  position: absolute;
  bottom: 224px;
  right: 158px;
  width: 51px;
  height: 50px;
  background-color: #333;
}
main .toUpArrows a {
  display: block;
  text-align: center;
  padding-top: 18px;
}
main .toUpArrows a img {
  width: 20px;
  height: 12px;
}
main .toUpArrows {
  position: absolute;
  bottom: 224px;
  right: 158px;
  width: 51px;
  height: 50px;
  background-color: #333;
}
main .toUpArrows a {
  display: block;
  text-align: center;
  padding-top: 18px;
}
main .toUpArrows a img {
  width: 20px;
  height: 12px;
}
