// 头部样式--开始

.header {
  width: 1920px;
  height: 80px;
  background-color: black;
  padding-top: 28px;
  padding-left: 210px;
  overflow: hidden;
  position: relative;

  // logo标签
  .logo {
    float : left;
    width: 222px;
    height: 31px;
    background: url("../img/icon.png") no-repeat 0 -294px;
    margin-right: 70px;
  }

  // 导航栏
  #nav {
    float: left;
    overflow: hidden;
    width: 1064px;
  }

  .nav-in {
    overflow: hidden;
  }

  .nav-in li {
    float: left;
    margin-right: 62px;
    width: 76px;
    height: 80px;
    a {
      color:#fff;
      font:  14px "arialMT" ;
      padding-bottom: 4px;
    }
        
  }

  .nav-in li a:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }

  .search {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/search.svg") no-repeat center center;
    background-size : 100%;
    margin-right: 60px;
    cursor: pointer;
  }

  
  .loginBox {
    float : left ;
  }

  .login,.register {
    a {
      color:#fff;
      font:  14px "AdobeHeitiStd-Regular" ;
    }
  }
  .login {
    padding-right: 12px;
    a {
      display: inline-block;
      width: 50px;
      border-right: 1px solid #282828;
    }
    
  }
}

.detailBox1,.detailBox2,.detailBox3,.detailBox4 {
  display: none;
  position: absolute;
  z-index: 999;
  top : 96px;
  left : 0;
  width: 1920px;
  height: 320px;
  // background-color: rgba(255,255,255,.9);
  background-color: yellowgreen;
}
.detailBox2 {
  background-color: pink;
}
.detailBox3 {
  background-color: skyblue;
}
.detailBox4 {
  background-color: orange;
}

.test {
  width: 76px;
  height: 10px;
  background-color: red;
}

.selected {
  display : block;
}

// 头部样式--结束





// 去除引入iframe默认样式
iframe {
  display: block;
  border: 0;
}

// 轮播图
.carousel {
  position: relative;
  width: 1920px;
  height: 876px;
}

.carousel-control {
  position: absolute;
  top : 348px;
  width: 84px;
  height: 84px;
  color : #fff;
  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
}

.left {
  left : 28px;
}
.glyphicon-chevron-left:before,.glyphicon-chevron-right:before {
  position:absolute;
  top : 27%;
  transform: translate(-50%,-50%);
  
}
.glyphicon-chevron-left:before {
  left : 37%;
  content : "<";
}
.glyphicon-chevron-right:before {
  left : 75%;
  content : ">";
}
.carousel-control.right {
  right : 28px;
}

// 主要区域
main {
  position: relative;
  .productShow {
    width: 1920px;
    overflow: hidden;
    li {
      float: left;
      width: 942px;
      height: 580px;
      margin-top: 12px;
      margin-left: 12px;
    }
  }

  .products {
    width: 1920px;
    margin : 120px 0 50px 0; 
    padding-left: 210px;
    
  }
  .productsContent {
    width: 1494px;
    .bestSlect {
      text-align: center;
      color : #333;
      font:  36px "arialMT" ;
      margin-bottom: 60px;
    }
  }
  .productsShow {
    overflow: hidden;
  }
  .productsShow li {
    float: left;
    text-align: center;
    width: 286px;
    height: 360px;
    border : 1px solid #f5f5f5;
    margin-right: 19px;
    margin-bottom: 50px;
    img {
      width: 220px;
      height: 220px;
    }
  }
  .productsShow a {
    text-align: center;
    color : #333;
    font:  16px "arialMT";
  }
  .productsShow p {
    margin-top: 64px;
  }

  .hide {
    display: none;
  }

  .loadMoreBox {
    width: 1920px;
    padding-left: 880px;
    margin-bottom: 140px;
  }
  .loadMore {
    width: 170px;
    height: 38px;
    padding-top: 14px;
    cursor: pointer;
    color : #262626;
    text-align: center;
    font : 14px "arialMT" ;
    border : 1px solid #333;
  }

 .toUpArrows {
    position: absolute;
    bottom: 224px;
    right: 158px;
    width: 51px;
    height: 50px;
    background-color: #333;
  }
 .toUpArrows a {

    display: block;
    text-align: center;
    padding-top: 18px;
  }
 .toUpArrows a img {
    width: 20px;
    height: 12px;
  }
  
  .toUpArrows {
    position: absolute;
    bottom : 224px;
    right : 158px;
    width: 51px;
    height: 50px;
    background-color: #333;
    
  }
  
  .toUpArrows a {
    display : block;
    text-align: center;
    padding-top: 18px;
    
  }
  
  .toUpArrows a img {
    width: 20px;
    height: 12px;
  }
}