/* Header start */
.header {
  background-color: black;
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding: 0 5%;
}
.header .liMain {
  display: none;
}
.header .logo {
  width: 222px;
  height: 80px;
  margin-right: 70px;
}
.header .logo #moreslan {
  margin: 0;
  width: 100%;
  height: 100%;
}
.header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo_01.png") no-repeat;
  background-size: 100%;
  text-indent: -999em;
  overflow: hidden;
}
.header .mr47 {
  margin-right: 47px;
}
.header .nav-in > li {
  position: relative;
  float: left;
  height: 80px;
  padding-top: 35px;
}
.header .nav-in > li a {
  display: inline-block;
  color: #fff;
  font: 14px "arialMT";
  vertical-align: top;
}
.header .nav-in > li .liMain {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px 0 60px 0px;
}
.header .nav-in > li .liMain a {
  display: inline;
  padding: 0 !important;
}
.header .nav-in > li .liMain .dlList {
  width: 900px;
  margin: 0 auto;
}
.header .guide {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
  border-width: 6px;
}
.header .nav-in li:hover .liMain,
.header .nav-in li:hover .guide {
  display: block;
}
.header .nav-in li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.header .firstdl {
  margin-right: 88px;
}
.header .firstdl dd {
  height: 26px;
}
.header .firstdl dt:nth-child(6),
.header .firstdl dt:nth-child(5) {
  margin-top: 14px;
}
.header .firstdl dd:last-child {
  height: 14px;
}
.header .firstdl dd a {
  color: #666;
  font: 14px "arialMT";
}
.header .firstdl dd a:hover {
  color: #d75656;
  border-bottom: 1px solid #d75656;
}
.header .firstdl .titledt {
  height: 23px;
}
.header .firstdl .titledt a {
  color: #333;
  font: bold 14px "arialMT";
}
.header .firstdl .titledt a:hover {
  text-decoration: none;
  color: #d75656;
  border-bottom: 1px solid #d75656;
}
.header li.pr {
  width: 24px;
  margin: 0 40px 0 220px;
}
.header #search {
  position: absolute;
  top: 54%;
  left: 0;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("../img/search.png") no-repeat center center;
  cursor: pointer;
}
.header #search:hover {
  border: none;
}
.header .login,
.header .register {
  display: inline-block;
}
.header .login a,
.header .register a {
  color: #fff;
  font: 14px "AdobeHeitiStd-Regular";
}
.header .login a {
  display: inline-block;
  width: 47px;
  border-right: 1px solid #282828;
}
.header .register {
  padding-left: 6px;
}
/* Header End */

/* sildeShow start */

.flexslider {
  width: 100%;
  height: auto;
  border : none;
  margin : 0;
}
.flex-control-nav {
  z-index: 2;
  bottom: 50px;
}
.flex-control-nav li {
  margin : 0 10px;
}
.flex-control-paging li a {
  width: 12px;
  height: 12px;
  border : 2px solid #fff;
  background: rgba(0,0,0,1);
  -webkit-box-shadow : none;
  box-shadow: none;
}
.flex-control-paging li a.flex-active {
  background: rgba(255,255,255,1)
}
.flex-control-paging li a:hover {
  background: rgba(255,255,255,1)
}
.flex-direction-nav a {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
  text-indent: -999em;
}
.flex-direction-nav a:before {
  content: "";
}
.flex-direction-nav a.flex-next:before {
  content: "";
}
.flex-direction-nav .flex-next {
  text-align: unset;
  text-indent: -999em;
}
.flex-prev {
  background : url("../img/leftrow.png") no-repeat center center;
}
.flex-next {
  background : url("../img/rightrow.png") no-repeat center center;
}
/* slideShow End */

/* main start */
main .productShow {
  width: 95%;
  margin : 0 auto;
}
main .productShow li {
  float: left;
  width : 49%;
  max-width: 942px;
  margin-top : 12px;
  height: auto;
}
main .productShow li img {
  width: 100%;
  height: auto;
}
main .productShow li:nth-child(odd) {
  margin-right: 12px;
}
main .bestSlect {
  width: 100%;
  color: #333;
  font: 36px "arialMT";
  margin: 117px 0 57px 0;
  margin-top: 117px;
}
main .products {
  width: 100%;
}
main .productsShow {
  width: 80%;
  max-width: 1500px;
  margin : 0 auto;
}
main .productsShow li {
  float: left;
  text-align: center;
  width: 20%;
  max-width: 286px;
  height: auto;
  max-height: 360px;
  border: 1px solid #f5f5f5;
  margin-bottom: 50px;
  padding-top: 32px;
  background-color: #fff;
}
main .productsShow li img {
  width: 77%;
  max-width: 220px;
  height: auto;
  margin : 0 auto;
}
main .productsShow a {
  text-align: center;
  color: #333;
  font: 16px "arialMT";
}
main .productsShow p {
  margin-top: 60px;
  margin-bottom : 36px;
}
main .loadMoreBox {
  margin-bottom: 140px;
}
main .loadMore {
  width: 170px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  color: #262626;
  text-align: center;
  font: 14px "arialMT";
  border: 1px solid #333;
}
main .loadMore .loadMoreC {
  font: 14px "arialMT";
  line-height: 38px;
}
main .toUpArrows {
  position: absolute;
  width: 51px;
  height: 50px;
  background-color: #333;
  cursor: pointer;
}
main .toUpArrows a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  text-align: center;
}
main .toUpArrows a img {
  width: 21px;
  height: 21px;
}
/* main End */

@media screen and (max-width: 1024px) {
/* slideShow start */
.flex-control-nav {
  bottom : -6px;
}
.flex-direction-nav {
  display: none;
}
.flex-control-nav li {
  margin : 0 2px;
}
.flex-control-paging li a {
  width: 6px;
  height: 6px;
}
/* slideShow End */
/* main start */
main .productShow {
  width: 90%;
}
main .productShow li {
  width: 100%;
  
}
main .productsShow {
  width: 100%;
}
main .productsShow li {
  width: 100%;
  max-width: 100%;
  height: auto;
}
main .productsShow li img {
  width: 100%;
}
/* main End */
  main .toUpArrows {
    display: none !important;
  }
}
@media screen and (min-width: 1280px) {
  /* main start */
  main .productsShow li {
    margin-right: 0;
  }
  main .toUpArrows {
    bottom: 90px;
    right: 70px;
  }

  /* main End */
}
@media screen and (min-width: 1920px) {

  /* header start */
  .header {
    padding: 0 210px;
  }

  .header li.pr {
    margin: 0 40px 0 525px;
  }

  /* header End */

  /* main start */
  main .productsShow li {
    margin-right: 14px;
  }

  main .toUpArrows {
    right: 144px;
    bottom: 90px;
  }
    /* main End */
}
