/* common */
/* verticalCenter */
.vc {
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}

/* common End */

/* main */

.proLisDetailModule {
  margin-top : 80px;
  background-color: #f5f5f5;
}

.titTop {
  width: 100%;
  height: 60px;
  color: #666;
  font-size: 14px;
  
  line-height: 60px;
}

.titTop a {
  color: #666;
  font-size: 14px;
  font-family: "arial";
 
}


/* sellArea */

.proSell {
  width: 100%;
}
.topArea {
  margin-bottom: 30px;
}
/* leftArea */
.leftSell {
  width: 34%;
  text-align: center;
  background-color: #fff;
}

.bigImg {
  width: 100%;
  padding-top : 19px;
}

.leftSell .bigImg img {
  width: 91%;
  max-width: 460px;
  height: auto;
  max-height: 420px;
  margin : 0 auto;
}

.topBigList {
  width: 750px;
  height: 750px;
  background-color: #fff;
}

.topBigList li {
  width: 566px;
  height: 566px;
}

.topBigList li img {
  width: 100%;
  height: 100%;
}

.topBigList,.topBigList li {
  position: absolute;
  z-index: 999;
  top : 50%;
  left :50%;
  transform: translate(-50%,-50%);

}

.topBig .close,.topBig .next,.topBig .prev {
  position: absolute;
  display: inline-block;
  z-index: 999;
  cursor: pointer;
  
}
.topBig .close {
  top : -13px;
  right : -13px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("../images/icon_close.png") no-repeat;
}

.topBig .next,.topBig .prev {
  top : 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 19px;
}

.topBig .next {
  right : 34px;  
  background : url("../images/smallImgright.png") no-repeat;
}

.topBig .prev {
  left : 34px;
  background : url("../images/smallImgleft.png") no-repeat;
}



.smallImg {
  margin : 28px 0 50px 0;
  overflow: hidden;
  width: 90%;
  height: 80px;
}

.smallImg ul {
  position: absolute;
  left : 38px;
  top : 0;
}

.leftSell .smallImg li {
  width: 80px;
  height: 80px;
  float: left;
}

.leftSell .smallImg li.selected {
  border: 1px solid #ddd;
}

.leftSell .smallImg a {
  display: inline-block;
  width: 100%;
  height: auto;
}

.leftSell .smallImg img {
  width: 100%;
  height: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 13px;
  height: 19px;
  cursor: pointer;
}

.arrow-left {
  left: 18px;
  background: url("../images/smallImgleft.png") no-repeat;
}

.arrow-right {
  right: 0px;
  background: url("../images/smallImgright.png") no-repeat;
}
/* leftArea End */

/* test area */
.ban{ width:43%;max-width: 505px; height:600px; position:relative; overflow:hidden;float: left;background-color: #fff;margin-right: 18px;}
.ban2{ width:91%; height:500px; position:relative; overflow:hidden;background-color: #fff;}
.ban2 ul{ position:absolute; left:20px; top:0;}
.ban2 ul li{ width:505px; height:auto;margin-top : 20px;}
.ban2 ul li img{ width:460px; height:auto;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;}
.min_pic{  width:500px;position: relative;padding-left: 30px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:80px; margin-right:6px; padding:1px;text-align: center;}
.num ul li img {
 width: 90%;
 height: auto;
 margin : 0 auto; 
}
.num ul li.on{ border:1px solid #ddd; padding:0;}
.prev_btn1{ width:13px; text-align:center; height:19px; cursor:pointer; position: absolute;top:50%;left : 8px; z-index: 3;transform: translateY(-50%);background: url("../images/smallImgleft.png") no-repeat;}
.next_btn1{  width:13px; text-align:center; height:19px; cursor:pointer;position: absolute;top:50%;right : 8px;transform: translateY(-50%);background: url("../images/smallImgright.png") no-repeat;}
.prev1{ position:absolute; top:50%; left:50px;transform: translateY(-50%); width:13px; height:19px;z-index:9;cursor:pointer;background: url("../images/smallImgleft.png") no-repeat;}
.next1{ position:absolute; top:50%; right:50px;transform: translateY(-50%); width:13px; height:19px;z-index:9;cursor:pointer;background: url("../images/smallImgright.png") no-repeat;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:fixed; left:0; top:0; display:none;z-index: 3}
.pop_up{ width:750px; height:750px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%;transform: translate(-50%,-50%); display:none; z-index:99;}
.pop_up_xx{ width:32px; height:32px;border-radius: 50%;background: url("../images/icon_close.png") no-repeat; position:absolute; top:-16px; right:-16px; cursor:pointer;}
.pop_up2{ width:750px; height:750px; position:relative; overflow:hidden;}
.pop_up2{ width:750px; height:750px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ margin : 92px 0 0 92px;width:566px; height:566px; float:left;}
.pop_up2 ul li img {
  width: 566px;
  height: 566px;
}
/* test end */






/* rightArea */
.rightSell {
  width: 66%;
  /* max-width: 977px; */
  background-color: #fff;
  color: #333;
}

.rsMain {
  width: 94%;
  margin : 0 auto;
}

.sellTitArea {
  width: 100%;
  padding-top: 48px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
}

.goodsTit {
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}
.tit {
  color: #666;
  font-size: 17px;
  font-weight: bold;
  
  margin-bottom: 12px;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 2.4em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* */
  margin-right: -1em;
  padding-right: 1em;
}

.tit:before {
 /* points in the end */
 width: 56px;
 height: 20px;
 content: '...';
 /* absolute position */
 position: absolute;
 /* set position to right bottom corner of block */
 right: 0;
 bottom: 0;
 background-color: #fff;
}
.tit:after {
 /* points in the end */
 width: 56px;
 height: 21px;
 content: '';
 /* absolute position */
 position: absolute;
 /* set position to right bottom corner of text */
 right: 0;
 /* width: 1em; */
 /* set width and height */
 /* height: 1em; */
 margin-top: 0.2em;
 background: white;
}



/* starArea */

.rightSell .rev {
  color: #d53333;
  font-size: 14px;
  
}

.star {
  display: inline-block;
  width: 70px;
  height: 13px;
  background : url("../images/star_nor.png") repeat;
  margin-right: 12px;
  position: relative;
}

.star span {
  display: inline-block;
  position: absolute;
  height: 13px;
  background : url("../images/star_press.png") repeat;

}

 .rev a {
   display: inline-block;
   
   line-height: 14px;
 }

 .revstar {
   width: 100%;
 }


.reviews {
  float: left;
}

.spec_bold {
  font-size: 14px;
  font-weight: bold;
  
}

.priceArea {
  margin-bottom: 8px;
}

.d53333 {
  color: #d53333;
  font-size: 30px;
  font-weight: bold;
  
}

.originPri {
  color: #999;
  font-size: 12px;
  
}



.type {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
  font-size: 16px;
}

.poa>div:nth-child(2)>span {
  margin-right: 24px;
}

/* colorSelect */
.typeColor {
  display: flex;
  margin-bottom: 12px;
}
.typeColor li {

  border: 1px solid #ddd;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  color : #999;
}

.typeColor li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.typeColor li img {
  width: 30px;
  height: 30px;
  vertical-align: top;
}

.typeColor li span {
  display: inline-block;
  padding : 8px 16px;
  position: relative;
  top : 50%;
  transform: translateY(-50%);
  display: block;
}

.typeColor li:hover {
  border-color: #d53333;
}

.turnBlock {
  display: block;
  margin: 0 0 11px 0;
  height: 18px;
  line-height: 18px;
}
/* chooseCountry */
.proChoose {
  width: 100%;
}
/* 缺货时候的样式 */
.Coming {
  color : #999;
}
.Coming .ComTit {
  color : #333;
  font-size: 16px;
  margin-bottom: 8px;
}

.ComWishlist {
  width: 180px;
  height: 42px;
  line-height: 42px;
  color : #fff;
  cursor: pointer;
  background-color: #ddd;
  text-align: center;
  margin : 30px 0 15px;
  border-radius: 2px;
}

.ComWishlist span {
  display: block;
  width: 100%;
  height: 100%;
}

.ComWishlist:hover {
  background-color: #d53333;
}

.colD533 {
  background-color: #d53333;
}

.countryList {
  width: 100%;
  /* display: flex; */
}
.countryList li {
  float: left;
  color: #999;
  font-size: 14px;
 
  border: 1px solid #ddd;
  text-align: center;
  height: 30px;
  padding : 0 1%;
  cursor: pointer;
  margin: 0 5px 12px 0;
}
.countryList li span {
  display: block;
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}
.countryList li:hover {
  color: #333;
  border-color: #d53333;
}

.countrySelected {
  color: #333;
}

.rightSell .fobidBuy {
  cursor: default;
  border : 1px dashed #ddd !important;
}

.rightSell .fobidBuy:hover {
  color : #999 !important;
  border-color: #ddd !important;
}

.rightSell li.borderSpec {
  color : #333;
  border-color: #d53333;
}

/* plateformChoose */
.rightSell .buyMethod {
  width: 100%;
  display: flex;
  margin-top : 12px;
  margin-bottom: 14px;
}

.buyMethod li {
  position: relative;
  width: 180px;
  height: 42px;
  border-radius: 2px;
  margin-right: 9px;
  color : #fff;
  text-align: center;
  font-size: 14px;
 
}

.buyMethod li span {
  display: block;
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}
.buyMethod li a {
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
}

.buyMethod li:nth-child(1) {
  background-color: #d53333;
}

.buyMethod li:nth-child(2) {
  background-color: #eb8e06;
}

.buyMethod li:nth-child(3) {
  background-color: #0074b8;
}

.buyMethod li:nth-child(4) {
  background-color: #28a9e2;
}

.buyMethod .gray {
  background-color: #ddd !important;
}

.buyMethod .gray a {
  cursor: default;
}



.rightSell .freeArea {
  margin-bottom: 23px;
}
/* freeArea */
.freeArea {
  display: flex;
}
.rightSell .freeButton {
  position: relative;
  width: 180px;
  height: 42px;
  background-color: #fedfdf;
  border: 1px solid #d53333;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  color: #333;
  margin-right: 16px;
}

.rightSell .freeButton span {
  display: block;
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}

.rightSell .freeButton a {
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%; 
}

.rightSell .wish {
  vertical-align: top;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  color: #999;
  font-size: 14px;
  
  padding: 0px 0 0 24px;
}

.rightSell .wish .likeIt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url("../images/wish.png") no-repeat;
  cursor: pointer;
}

.rightSell .wish .wish_press {
  background: url("../images/wish_press.png") no-repeat;
}

.rightSell .wish .likeIt:hover {
  background: url("../images/wish_press.png") no-repeat;
}

/* icon_list_website */
.icon_list_website {
  width: 100%;
  height: 28px;
  margin-bottom: 18px;
  /* margin: 26px 0 12px 0; */
}
.icon_list_website a {
  display: inline-block;
  width: 28px !important;
  height: 28px !important;
  border-radius: 14px;
  margin-right: 10px;
  background-image: url("../images/icon_share.png");
  transition: all ease-in .3s;
}
.icon_list_website a.fb {
  background-position: 0 0;
}
.icon_list_website a.fb:hover {
  background-position: 0 -35px;
}
.icon_list_website a.gg {
  background-position: -35px 0;
}
.icon_list_website a.gg:hover {
  background-position: -35px -35px;
}
.icon_list_website a.In {
  background-position:-70px 0;
}
.icon_list_website a.In:hover {
  background-position: -70px -35px;
}
.icon_list_website a.You {
  background-position: -105px 0;
}
.icon_list_website a.You:hover {
  background-position: -105px -35px;
}
.icon_list_website a.Twitter {
  background-position: -140px 0;
}
.icon_list_website a.Twitter:hover {
  background-position: -140px -35px;
}
.icon_list_website a.pp{
  background-position: -175px 0;
}
.icon_list_website a.pp:hover {
  background-position: -175px -35px;
}
.icon_list_website a.tt {
  background-position: -210px 0;
}
.icon_list_website a.tt:hover {
  background-position: -210px -35px;
}

.rightSell a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 14px;
}

/* middleArea */
.middleShowList {
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.middleShowList li {
  float: left;
  height: 42px;
  padding: 13px 20px;
  color: #333;
  font-size: 14px;
  
  cursor: pointer;
}

.middleShowList li.currentShow {
  color: #fff;
  font-weight: bold;
  background-color: #d53333;
}

 .middleShowList li:hover {
  color: #fff;
  font-weight: bold;
  background-color: #d53333;
}

.mainContent {
  background-color: #fff;
  float: left;
  width: 100%;
  /* height: 576px; */
  display: none;
}

.currentSelected {
  display: block;
}



.exhibitionUl {
  width: 67%;
  max-width: 996px;
  margin : 46px auto 0;
}
.exhibitionUl li {
  width: 100%;
  /* height: auto; */
}
.exhibitionUl li img {
  width: 100%;
  height: auto;
}

.downloadArea {
  width: 96%;
  margin : 0 auto 130px;
}

.mainContent:nth-child(2) {
  background-color: orangered;
}

.mainContent:nth-child(4) {
  padding: 72px 0 0 20px;
  color: #333;
  font-size: 14px;
  
}

.mainContent:nth-child(4) .relatedTit {
  width: 96%;
  margin : 0 auto 32px;
  font-weight: bold;
  /* margin-bottom: 32px; */
}
.mainContent:nth-child(4) .relatedList {
  margin-bottom: 48px;
}

.mainContent:nth-child(4) .relatedList li {
  width: 96%;
  margin : 0 auto;
  height: 38px;
  line-height: 38px;
  /* padding-left: 42px; */
}

.mainContent:nth-child(4) .relatedList li dt,
.mainContent:nth-child(4) .relatedList li dd {
  /* display: inline-block; */
  float: left;
  height: 38px;
  line-height: 38px;
  color: #333;
  font-size: 14px;

  
}

.mainContent:nth-child(4) .relatedList li dt {
  margin-left : 40px;
  width: 22%;
}

.mainContent:nth-child(4) .relatedList li:nth-child(odd) {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}

.mainContent:nth-child(4) .downloadBtn {
  width: 220px;
  height: 42px;
  line-height: 42px;
  color: #d53333;
  border: 1px solid #d53333;
  background-color: #fedfdf;
  margin-top: 29px;
  padding-left: 58px;
  border-radius: 2px;
}

.mainContent:nth-child(4) .downloadBtn i {
  position: absolute;
  top: 10px;
  left: 24px;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/download.png") no-repeat;
}

.mainContent:nth-child(4) .downloadBtn a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.mainContent:nth-child(3) {
  background-color: gray;
}

.mainContent:nth-child(5) {
  height: 576px;
  padding: 72px 0 0 20px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  
}

.mainContent:nth-child(5) .FAQtit {
  margin-bottom: 36px;
}

.mainContent:nth-child(5) .FAQaq li {
  padding-left: 24px;
}

.mainContent:nth-child(5) .FAQaq li i {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(1) {
  margin-bottom: 14px;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(1) i {
  background: url("../images/Q.png") no-repeat;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(2) {
  color: #666;
  font-weight: normal;
  margin-bottom: 30px;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(2) i {
  background: url("../images/A.png") no-repeat;
}

.faqdes {
  width: 96%;
}

.relatedPro {
  width: 100%;
  margin-top : 121px;
}

.relatedProContent {
  width: 100%;
}

.customer {
  margin-top : 71px;
}

 .relatedProT {
   width: 100%;
  text-align: center;
}

.relatedProT .relatedProTit {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}

.relatedProT .relatedProDesc {
  color: #666;
  font-size: 16px;
  
  margin-bottom: 60px;
}

.flexslider {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.flex-control-nav {
  display: none;
}

.flex-direction-nav a{
  display: block;
  width: 18px;
  height: 74px;
  border : none;
  transform: translateY(-50%);
  /* #ddd 16进制转换rgba（221，221，221） */
  background-color: rgba(221,221,221,0.5);

}

.flex-direction-nav a:focus {
  outline : none;
}

.flex-direction-nav .flex-disabled {
 
  opacity: 1 !important;
  background-color: rgba(221,221,221,0.5) !important;
  z-index: 999;
}



.flex-direction-nav a:hover {
  color : transparent;
  border-color: rgba(221,221,221,0.5);
}

.flexleftBtn,.flexrightBtn{
  width: 18px;
  height: 74px;
  position: absolute;
  top : 47%;
  transform: translateY(-50%);
  background-color: rgba(221,221,221,0.5);
  z-index: 2;

}
.flexleftBtn {
  left : 16px;
}
.flexrightBtn {
  right : 12px;
}
/* 左箭头 */
.flex-direction-nav .flex-prev {
  background : url("../images/smallImgleft.png") no-repeat center center;
  background-color: rgba(221,221,221,0.5) !important;
}
.flex-direction-nav a:before {
  content: "";
}
.flex-direction-nav .flex-prev {
  opacity: 1;
  /* background-color: rgba(221,221,221,0.5) !important; */
  left : 20px !important;
}
.flex-direction-nav .flex-next {
  right : 15px !important;
  z-index: 2;
  opacity: 1;
  background-color: rgba(221,221,221,0.5) !important;
}
/* 右箭头 */
.flex-direction-nav .flex-next {

  background : url("../images/smallImgright.png") no-repeat center center;
}
.flex-direction-nav a:before {
  content : "";
}
.flexslider .slides:after {
  content : "";
}
.flex-direction-nav a.flex-next:before {
  content : "" !important;
}

.relatedProShow  {
  width: 100%;
  padding : 0 10px;
  background-color: #f5f5f5;
}
.relatedProShow li {

  text-align: center;
  width: 20%;
  max-width: 286px;
  height: auto;
  border: 1px solid #f5f5f5;
  margin-bottom: 50px;
  padding-top: 32px;
  background-color: #fff;
}

.relatedProShow li img {
  width: 77%;
  max-width: 220px;
  height: auto;
  margin : 0 auto;
}

.relatedProShow li:nth-child(5n) {
  margin-right: 0px;
}

.relatedProShow a {
  text-align: center;
  color: #333;
  font-size: 16px;
 
}

.relatedProShow p {
  width: 90%;
  margin : 32px 0 15px 8px;
  height: 42px;
  text-align: center;
  overflow: hidden;
}

.reviewArea {
  width: 100%;
  padding-bottom: 10px;
  /* height: 472px; */
  margin-bottom: 132px;
  background-color: #fff;
}
.revTit {
  width: 96%;
  height: 66px;
  line-height: 66px;
  margin: 0 auto;
}
.revContent {
  width: 96%;
  margin : 0 auto;
  padding-top : 37px;
  padding-bottom: 36px;
  border-top : 1px solid #f0f0f0;
}
.revContent {
  font-family: "arial";
  
}
.revConLeft {
  width: 30%;
}
.revContent .name {
  font-size: 14px;
  color : #333;
}
.revContent .datetime {
  font-size: 12px;
  color : #999;
}

.revConright {
  width: 70%;
}

/* 多行文本省略 */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 16px;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 48px;
  /* fix problem when last visible word doesn't adjoin right side  */
  /* text-align: justify; */
  /* */
  /* white-space: nowrap; */
  /* word-break: hyphenate; */
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 37px;
  bottom: 0;
}
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 37px;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

/* end */

.revConright .top .des {
  color : #333;
  font-size: 12px;
  font-weight: bold;
  
  margin-top : 10px;
}
.revConright .down .des {
  width: 94%;
  font-size: 12px;

  color : #666;
  margin-top : 12px;
}

.mui-ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.readMore {
  position: absolute;
  
  right:0;
  cursor: pointer;
}
.readMore {
  font-size: 12px;
  bottom : -4px;
  right : 73px;
  background-color: #fff;
  display: inline-block;
  width: 70px;
  color : #d53333;
}
.hideBtn {
  color : #d53333;
  cursor : pointer;
}
.col666 {
  color : #666;
}


.imgList {
  width: 100%;
  display: flex;
  margin-top : 10px;
  margin-bottom: 82px;
}
.imgList li {
  position: relative;
  float: left;
  width: 56px;
  margin-right: 5px;
}
.imgList li a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.imgList li img {
  width: 100%;
  height: auto;
}

.revbigImgArea {
  position: fixed;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  height: 750px;
  overflow: hidden;
  display: none;
  z-index: 999;

  
}
.blackArea {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  height: 750px;
  background-color: #fff;
}
.revbigImg {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  width: 468px;
  height: 670px;
}
.revbigImg li {
  position: absolute;
  top : 0;
  left : 0;
  transform: translate(0,0);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
}
.revbigImg img {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}
.leftBtn,.rightBtn {
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 19px;
  cursor: pointer;
}
.leftBtn {
  left : 20px;
  background : url("../images/smallImgleft.png") no-repeat;
}
.rightBtn {
  right : 20px;
  background : url("../images/smallImgright.png") no-repeat;
}
.leftRotate,.rightRotate {
  position: absolute;
  bottom : 40px;
  width: 24px;
  height: 20px;
  cursor: pointer;
}
.leftRotate {
  right : 56px;
  background: url("../images/icon_rotate_left.png") no-repeat;
}

.rightRotate {
  right : 20px;
  background: url("../images/icon_rotate_right.png") no-repeat;
}

.greyArea {
  display: none;
  position: fixed;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(38,38,38,0.7);
}

/* pagination */
.pagination {
  height: 28px;
  margin-top : 50px;
}
.pagination .pagSelect {
  position: absolute;
  top : 0;
  left : 50%;
  transform: translateX(-50%);
}
.current {
  background-color: #eee;
}
.pagination a {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border : 1px solid #e8e8e8;
  vertical-align: top;
  text-align: center;
  margin-right : 9px;
  color : #666;
  font-size: 14px;
  font-family: "arial";
}
.pagination a:hover {
  background-color: #eee;
}
.pagination .prev {
  background: url("../images/pageleft.png") no-repeat center center;
}

.pagination .next {
  background : url("../images/pageright.png") no-repeat center center;
}


.revPagenation {
  position: absolute;
  bottom : 5px;
  right : 28px;
}
.revPagenation a {
  width: 28px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  font-size: 14px;
  color : #666;
  text-align: center;
  vertical-align: top;
}
.xiaosanjiao {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #969696;
  border-width: 5px;
}
.currentSele {
  border : 1px solid #ddd;
}


/* 宽度最大1600px */
@media screen and (max-width: 1600px) {
  .leftSell .smallImg li {
    width: 67px;
    height: 67px;
  }
  .rightSell {
    width: 56%;
  }

  .sellTitArea {
    padding-top : 78px;
    margin-bottom: 50px; 
  }

  .priceArea {
    margin-bottom: 28px;
  }
  
}

/* 低于IPad pro 的屏幕*/
@media screen and (max-width: 1024px) {
    .ban {
      width: 54%;
    }
  .rightSell {
    width: 46%;
  }

  /*后台模板渲染图片区域*/
  .exhibitionArea img {
  width: 66%;
  height:auto;
}

  /* 关联产品区域箭头隐藏 */
  .flex-direction-nav a {
    display: none;
  }
  /* 评论区域 */
  .readMore {
    right: 31px;
    width: 74px;
  }
}

@media screen and (max-width: 768px) {
  .topArea {
    background-color: #fff;
  }
  .ban {
  width: 100%;
  margin-left : 16%;
}
.rightSell {
  width: 100%;
}
}


/* IPhone 8 Plus */
@media screen and (max-width: 414px) {

  .ban {
    height: 488px;
    margin-left : 0px;
  }

  .ban2 {
    height: 400px;
  }

  .ban2 ul li {
    width: 360px;
    text-align: center;
    padding-left: 2px;
  }
  .ban2 ul li:nth-child(1) {
    padding-left: 22px;
  }
  .ban2 ul li img {
    width: 308px;
  }
  .min_pic {
    width: 390px;
  }
  .rightSell {
    width: 100%;
  }

  .countryList {
    display: block;
  }
  .countryList li {
    float: left;
  }

  .num {
    width: 334px;
  }

}

@media screen and (max-width: 375px) {
  .min_pic {
    width: 360px;
  }
  .num {
    width: 304px;
  }
  .num ul li {
    width: 76px;
    margin-right: 0px;
  }
 }


@media screen and (min-width: 1024px) {
  .ban2 ul li {
    padding-left: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .tit {
    font-size: 16px;
     /* hide text if it more than N lines  */
     overflow: hidden;
     /* for set '...' in absolute position */
     position: relative;
     /* use this value to count block height */
     line-height: 1.2em;
     /* max-height = line-height (1.2) * lines max number (3) */
     max-height: 2.4em;
     /* fix problem when last visible word doesn't adjoin right side  */
     text-align: justify;
     /* */
     margin-right: -1em;
     padding-right: 1em;
  }

  .tit:before {
    /* points in the end */
    width: 56px;
    height: 20px;
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
    background-color: #fff;
}
.tit:after {
    /* points in the end */
    width: 56px;
    height: 20px;
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* width: 1em; */
    /* set width and height */
    /* height: 1em; */
    margin-top: 0.2em;
    background: white;
}




  .d53333 {
    font-size: 25px;
  }
}


@media screen and (min-width: 1600px) {
  .leftSell {
    max-width : 505px;
  }

  /* 左边弹出的遮罩层 */
  .mhc {
    position: fixed;
  }

  .pop_up {
    position: fixed;
  }

  .rightSell {
    max-width : 977px;
  }
  /* 销售区域右边的权宜之计 */
  .proLisDetailModule .leftSell {
    margin-right : 18px;
  }
  .tit {
    font-size: 18px;
  }
  .d53333 {
    font-size: 30px;
  }
  .icon_list_website {
    margin : 33px 0 44px; 
    margin-bottom: 44px;
  }
  .sellTitArea {
    margin-bottom: 44px;
    padding-top: 64px;
  }
  .priceArea {
    margin-bottom: 31px;
  }

}

@media screen and (min-width: 1920px) {
  .relatedProShow li {
    margin-right : 20px;
  }
}