.fl {
  float: left;
}
.por {
  position: relative;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.proLisDetailModule {
  background-color: #f5f5f5;
}
.proLisDetailModule .titTop {
  width: 1920px;
  height: 60px;
  padding-left: 211px;
  color: #666;
  font: 14px "arialMT";
  line-height: 60px;
}
.proLisDetailModule .titTop a {
  color: #666;
  font: 14px "arialMT";
}
.proLisDetailModule .titTop .d53333 {
  color: #d53333;
}
.proLisDetailModule .proSell {
  width: 1920px;
  padding-left: 211px;
}
.proLisDetailModule .topArea {
  margin-bottom: 30px;
}
.proLisDetailModule .leftSell {
  background-color: #fff;
  width: 505px;
  height: 600px;
  padding: 19px 0 0 21px;
  margin-right: 20px;
}
.proLisDetailModule .leftSell .bigImg {
  margin-bottom: 28px;
}
.proLisDetailModule .leftSell .bigImg img {
  width: 460px;
  height: 420px;
}
.proLisDetailModule .leftSell .smallImg {
  padding-left: 30px;
}
.proLisDetailModule .leftSell .smallImg li {
  float: left;
}
.proLisDetailModule .leftSell .smallImg li.selected {
  border: 1px solid #ddd;
}
.proLisDetailModule .leftSell .smallImg a {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.proLisDetailModule .leftSell .smallImg img {
  width: 80px;
  height: 80px;
}
.proLisDetailModule .leftSell .smallImg .arrow-left,
.proLisDetailModule .leftSell .smallImg .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 11px;
  height: 19px;
  cursor: pointer;
}
.proLisDetailModule .leftSell .smallImg .arrow-left {
  left: 0;
  background: url("../img/smallImgleft.png") no-repeat;
}
.proLisDetailModule .leftSell .smallImg .arrow-right {
  right: 21px;
  background: url("../img/smallImgright.png") no-repeat;
}
.proLisDetailModule .rightSell {
  width: 977px;
  height: 600px;
  background-color: #fff;
  padding-left: 30px;
  color: #333;
}
.proLisDetailModule .rightSell .sellTitArea {
  width: 916px;
  padding-top: 39px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 44px;
}
.proLisDetailModule .rightSell .tit {
  color: #666;
  font: bold 18px "arialMT";
  margin-bottom: 12px;
}
.proLisDetailModule .rightSell .rev {
  color: #d53333;
  font: 14px "arialMT";
  margin-bottom: 25px;
}
.proLisDetailModule .rightSell .star {
  margin-right: 12px;
}
.proLisDetailModule .rightSell .star li {
  width: 14px;
  height: 14px;
  float: left;
  background: url("../img/star.svg") no-repeat;
}
.proLisDetailModule .rightSell .reviews {
  float: left;
}
.proLisDetailModule .rightSell .priceArea {
  margin-bottom: 31px;
}
.proLisDetailModule .rightSell .d53333 {
  color: #d53333;
  font: bold 30px "arialMT";
}
.proLisDetailModule .rightSell .originPri {
  color: #999;
  font: 12px "arialMT";
}
.proLisDetailModule .rightSell .proColor {
  margin-bottom: 12px;
}
.proLisDetailModule .rightSell .type {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
  font: 16px "arialMT";
}
.proLisDetailModule .rightSell .spec {
  padding-top: 8px;
}
.proLisDetailModule .rightSell .secon {
  height: 26px;
  line-height: 26px;
}
.proLisDetailModule .rightSell .typeColor li {
  float: left;
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  margin-right: 5px;
}
.proLisDetailModule .rightSell .typeColor li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.proLisDetailModule .rightSell .typeColor li img {
  vertical-align: top;
}
.proLisDetailModule .rightSell .proType {
  margin-bottom: 23px;
}
.proLisDetailModule .rightSell .typeList li {
  float: left;
  width: 112px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ddd;
  text-align: center;
  font: 12px "arialMT";
  margin-right: 5px;
  cursor: pointer;
}
.proLisDetailModule .rightSell .typeList li span {
  display: block;
  width: 112px;
  height: 26px;
  line-height: 26px;
}
.proLisDetailModule .rightSell .typeList li:hover {
  border-color: #d53333;
}
.proLisDetailModule .rightSell .turnBlock {
  display: block;
  margin: 0 0 11px 0;
  height: 18px;
  line-height: 18px;
}
.proLisDetailModule .rightSell .countryList li {
  float: left;
  color: #999;
  font: 14px "arialMT";
  border: 1px solid #ddd;
  padding: 8px 17px;
  cursor: pointer;
  margin: 0 5px 24px 0;
}
.proLisDetailModule .rightSell .countryList li:hover {
  color: #333;
  border-color: #d53333;
}
.proLisDetailModule .rightSell .countryList .countrySelected {
  color: #333;
}
.proLisDetailModule .rightSell li.borderSpec {
  border-color: #d53333;
}
.proLisDetailModule .rightSell .buyMethod {
  margin-bottom: 14px;
}
.proLisDetailModule .rightSell .buyMethod li {
  float: left;
  width: 180px;
  height: 42px;
  margin-right: 9px;
  text-align: center;
}
.proLisDetailModule .rightSell .buyMethod li a {
  display: inline-block;
  width: 180px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  font: 14px "arialMT";
}
.proLisDetailModule .rightSell .buyMethod li:nth-child(1) {
  background-color: #d53333;
}
.proLisDetailModule .rightSell .buyMethod li:nth-child(2) {
  background-color: #eb8e06;
}
.proLisDetailModule .rightSell .buyMethod li:nth-child(3) {
  background-color: #0074b8;
}
.proLisDetailModule .rightSell .freeArea {
  margin-bottom: 23px;
}
.proLisDetailModule .rightSell .freeButton {
  display: inline-block;
  width: 180px;
  height: 42px;
  background-color: #fedfdf;
  border: 1px solid #d53333;
  text-align: center;
}
.proLisDetailModule .rightSell .freeButton a {
  height: 42px;
  line-height: 42px;
  color: #333;
  font: 14px "arialMT";
}
.proLisDetailModule .rightSell .wish {
  vertical-align: top;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  color: #999;
  font: 14px "arialMT";
  padding: 12px 0 0 24px;
}
.proLisDetailModule .rightSell .wish .likeIt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url("../img/wish.png") no-repeat;
  cursor: pointer;
}
.proLisDetailModule .rightSell .wish .wish_press {
  background: url("../img/wish_press.png") no-repeat;
}
.proLisDetailModule .rightSell .wish .likeIt:hover {
  background: url("../img/wish_press.png") no-repeat;
}
.proLisDetailModule .rightSell .websiteLink li {
  float: left;
  width: 28px;
  height: 28px;
  background-color: #999;
  border-radius: 50%;
  margin-right: 12px;
  margin-bottom: 25px;
  background: url("../img/icon.png") no-repeat;
}
.proLisDetailModule .rightSell .websiteLink li:nth-child(1) {
  background-position: -2px -9px;
}
.proLisDetailModule .rightSell .websiteLink li:nth-child(2) {
  background-position: -2px -49px;
}
.proLisDetailModule .rightSell .websiteLink li:nth-child(3) {
  background-position: -2px -90px;
}
.proLisDetailModule .rightSell .websiteLink li:nth-child(4) {
  background-position: -2px -132px;
}
.proLisDetailModule .rightSell .websiteLink li:nth-child(5) {
  background-position: -2px -172px;
}
.proLisDetailModule .rightSell .websiteLink li:nth-child(6) {
  background-position: -2px -214px;
}
.proLisDetailModule .rightSell .websiteLink li:nth-child(7) {
  background-position: -2px -254px;
}
.proLisDetailModule .rightSell a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.proLisDetailModule .middleShow {
  width: 1502px;
}
.proLisDetailModule .middleShowList {
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
}
.proLisDetailModule .middleShowList li {
  float: left;
  height: 42px;
  padding: 13px 20px;
  color: #333;
  font: 14px "arialMT";
  cursor: pointer;
}
.proLisDetailModule .middleShowList li.currentShow {
  color: #fff;
  font-weight: bold;
  background-color: #d53333;
}
.proLisDetailModule .middleShowList li:hover {
  color: #fff;
  font-weight: bold;
  background-color: #d53333;
}
.proLisDetailModule .mainContent {
  background-color: #fff;
  float: left;
  width: 100%;
  height: 576px;
  display: none;
}
.proLisDetailModule .currentSelected {
  display: block;
}
.proLisDetailModule .exhibitionUl {
  padding: 46px 0 260px 252px;
}
.proLisDetailModule .mainContent:nth-child(1) {
  height: 2306px;
}
.proLisDetailModule .mainContent:nth-child(2) {
  background-color: orangered;
}
.proLisDetailModule .mainContent:nth-child(3) {
  padding: 72px 0 0 20px;
  color: #333;
  font: 14px "arialMT";
}
.proLisDetailModule .mainContent:nth-child(3) .relatedTit {
  margin-bottom: 32px;
}
.proLisDetailModule .mainContent:nth-child(3) .relatedList {
  margin-bottom: 48px;
}
.proLisDetailModule .mainContent:nth-child(3) .relatedList li {
  width: 1445px;
  height: 30px;
  line-height: 30px;
  padding-left: 42px;
}
.proLisDetailModule .mainContent:nth-child(3) .relatedList li dt,
.proLisDetailModule .mainContent:nth-child(3) .relatedList li dd {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  color: #333;
  font: 14px "arialMT";
}
.proLisDetailModule .mainContent:nth-child(3) .relatedList li dt {
  width: 330px;
}
.proLisDetailModule .mainContent:nth-child(3) .relatedList li:nth-child(odd) {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}
.proLisDetailModule .mainContent:nth-child(3) .downloadBtn {
  width: 220px;
  height: 42px;
  line-height: 42px;
  color: #d53333;
  border: 1px solid #c53333;
  background-color: #fecfdf;
  margin-top: 29px;
  padding-left: 58px;
  border-radius: 6px;
}
.proLisDetailModule .mainContent:nth-child(3) .downloadBtn i {
  position: absolute;
  top: 10px;
  left: 24px;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/download.png") no-repeat;
}
.proLisDetailModule .mainContent:nth-child(3) .downloadBtn a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.proLisDetailModule .mainContent:nth-child(4) {
  background-color: gray;
}
.proLisDetailModule .mainContent:nth-child(5) {
  height: 576px;
  padding: 72px 0 0 20px;
  color: #333;
  font: bold 14px "arialMT";
}
.proLisDetailModule .mainContent:nth-child(5) .FAQtit {
  margin-bottom: 36px;
}
.proLisDetailModule .mainContent:nth-child(5) .FAQaq li {
  height: 20px;
  line-height: 20px;
  padding-left: 24px;
}
.proLisDetailModule .mainContent:nth-child(5) .FAQaq li i {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
.proLisDetailModule .mainContent:nth-child(5) .FAQaq li:nth-child(1) {
  margin-bottom: 14px;
}
.proLisDetailModule .mainContent:nth-child(5) .FAQaq li:nth-child(1) i {
  background: url("../img/Q.png") no-repeat;
}
.proLisDetailModule .mainContent:nth-child(5) .FAQaq li:nth-child(2) {
  color: #666;
  font-weight: normal;
  margin-bottom: 30px;
}
.proLisDetailModule .mainContent:nth-child(5) .FAQaq li:nth-child(2) i {
  background: url("../img/A.png") no-repeat;
}
.proLisDetailModule .relatedPro {
  width: 1502px;
  margin: 115px 0;
}
.proLisDetailModule .relatedProContent {
  width: 1494px;
}
.proLisDetailModule .relatedProT {
  text-align: center;
}
.proLisDetailModule .relatedProT .relatedProTit {
  color: #333;
  font: 30px "arialMT";
}
.proLisDetailModule .relatedProT .relatedProDesc {
  color: #666;
  font: 16px "arialMT";
  margin-bottom: 60px;
}
.proLisDetailModule .relatedProShow li {
  float: left;
  text-align: center;
  width: 284px;
  height: 359px;
  border: 1px solid #f5f5f5;
  margin: 0 20px 50px 0;
  padding-top: 32px;
  background-color: #fff;
}
.proLisDetailModule .relatedProShow li img {
  width: 220px;
  height: 220px;
}
.proLisDetailModule .relatedProShow li:nth-child(5n) {
  margin-right: 0px;
}
.proLisDetailModule .relatedProShow a {
  text-align: center;
  color: #333;
  font: 16px "arialMT";
}
.proLisDetailModule .relatedProShow p {
  margin-top: 32px;
}
.proLisDetailModule .reviewArea {
  width: 1500px;
  height: 472px;
  margin-bottom: 142px;
  background-color: #fff;
}
