/* common */
/* verticalCenter */
.vc {
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}

/* common End */

/* main */

.proLisDetailModule {
  background-color: #f5f5f5;
}

.titTop {
  width: 100%;
  height: 60px;
  color: #666;
  font: 14px "arialMT";
  line-height: 60px;
}

.titTop a {
  color: #666;
  font: 14px "arialMT";
}


/* sellArea */

.proSell {
  width: 100%;
}
.topArea {
  margin-bottom: 30px;
}
/* leftArea */
.leftSell {
  width: 34%;
  /* max-width: 505px; */
  text-align: center;
  padding-top: 19px;
  background-color: #fff;
  
  /* margin-right: 18px; */
}

.leftSell .bigImg img {
  width: 91%;
  max-width: 460px;
  height: auto;
}

.smallImg {
  margin : 28px 0 50px 0;
}

.smallImg ul {
  width: 80%;
  margin : 0 auto;
}

.leftSell .smallImg li {
  width: 20%;
  float: left;
}

.leftSell .smallImg li.selected {
  border: 1px solid #ddd;
}

.leftSell .smallImg a {
  display: inline-block;
  width: 100%;
  height: auto;
}

.leftSell .smallImg img {
  width: 100%;
  height: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 11px;
  height: 19px;
  cursor: pointer;
}

.arrow-left {
  left: 18px;
  background: url("../img/smallImgleft.png") no-repeat;
}

.arrow-right {
  right: 21px;
  background: url("../img/smallImgright.png") no-repeat;
}
/* leftArea End */

/* rightArea */
.rightSell {
  width: 66%;
  /* max-width: 977px; */
  background-color: #fff;
  color: #333;
}

.rsMain {
  width: 94%;
  margin : 0 auto;
}

.sellTitArea {
  width: 100%;
  padding-top: 48px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
}

.goodsTit {
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}
.tit {
  color: #666;
  font: bold 17px "arialMT";
  margin-bottom: 12px;
}
/* starArea */

.rightSell .rev {
  color: #d53333;
  font: 14px "arialMT";
}

.star {
  margin-right: 12px;
}

.star li {
  width: 14px;
  height: 14px;
  float: left;
  background: url("../img/star.svg") no-repeat;
}

.reviews {
  float: left;
}

.priceArea {
  margin-bottom: 8px;
}

.d53333 {
  color: #d53333;
  font: bold 30px "arialMT";
}

.originPri {
  color: #999;
  font: 12px "arialMT";
}

.proColor {
  margin-bottom: 12px;
}

.type {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
  font: 16px "arialMT";
}

.spec {
  padding-top: 8px;
}

.secon {
  height: 26px;
  line-height: 26px;
}
/* colorSelect */
.typeColor {
  display: flex;
}
.typeColor li {
  width: 32px;
  height: 32px;
  border: 1px solid #ddd;
  margin-right: 5px;
}

.typeColor li a {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.typeColor li img {
  vertical-align: top;
}
/* typeSelect */
.proType {
  margin-bottom: 23px;
}
.typeList {
  display: flex;
}
.typeList li {
  width: 112px;
  height: 26px;
  border: 1px solid #ddd;
  text-align: center;
  font: 12px "arialMT";
  margin-right: 5px;
  cursor: pointer;
  color : #999;
}

.typeList li span {
  position: relative;
  top : 50%;
  transform: translateY(-50%);
  display: block;
  width: 112px;
}

.typeList li:hover {
  border-color: #d53333;
}

.turnBlock {
  display: block;
  margin: 0 0 11px 0;
  height: 18px;
  line-height: 18px;
}
/* chooseCountry */
.proChoose {
  width: 100%;
}
.countryList {
  width: 100%;
  display: flex;
}
.countryList li {
  color: #999;
  font: 14px "arialMT";
  border: 1px solid #ddd;
  text-align: center;
  height: 30px;
  padding : 0 1%;
  cursor: pointer;
  margin: 0 5px 24px 0;
}
.countryList li span {
  display: block;
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}
.countryList li:hover {
  color: #333;
  border-color: #d53333;
}

.countrySelected {
  color: #333;
}

.rightSell li.borderSpec {
  color : #333;
  border-color: #d53333;
}

/* plateformChoose */
.rightSell .buyMethod {
  width: 100%;
  display: flex;
  margin-bottom: 14px;
}

.buyMethod li {
  position: relative;
  width: 180px;
  height: 42px;
  margin-right: 9px;
  color : #fff;
  text-align: center;
  font : 14px "arialMT";
}

.buyMethod li span {
  display: block;
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}
.buyMethod li a {
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
}

.buyMethod li:nth-child(1) {
  background-color: #d53333;
}

.buyMethod li:nth-child(2) {
  background-color: #eb8e06;
}

.buyMethod li:nth-child(3) {
  background-color: #0074b8;
}

.rightSell .freeArea {
  margin-bottom: 23px;
}
/* freeArea */
.freeArea {
  display: flex;
}
.rightSell .freeButton {
  position: relative;
  width: 180px;
  height: 42px;
  background-color: #fedfdf;
  border: 1px solid #d53333;
  text-align: center;
  font: 14px "arialMT";
  color: #333;
  margin-right: 16px;
}

.rightSell .freeButton span {
  display: block;
  position: relative;
  top : 50%;
  transform: translateY(-50%);
}

.rightSell .freeButton a {
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%; 
}

.rightSell .wish {
  vertical-align: top;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  color: #999;
  font: 14px "arialMT";
  padding: 12px 0 0 24px;
}

.rightSell .wish .likeIt {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url("../img/wish.png") no-repeat;
  cursor: pointer;
}

.rightSell .wish .wish_press {
  background: url("../img/wish_press.png") no-repeat;
}

.rightSell .wish .likeIt:hover {
  background: url("../img/wish_press.png") no-repeat;
}

/* websiteLink */
.websiteLink {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.rightSell .websiteLink li {
  /* float: left; */
  width: 28px;
  height: 28px;
  background-color: #999;
  border-radius: 50%;
  margin-right: 12px;
  /* margin-bottom: 25px; */
  background: url("../img/icon.png") no-repeat;
}

.websiteLink li:nth-child(1) {
  background-position: -2px -9px;
}

.websiteLink li:nth-child(2) {
  background-position: -2px -49px;
}

.websiteLink li:nth-child(3) {
  background-position: -2px -90px;
}
.websiteLink li:nth-child(4) {
  background-position: -2px -132px;
}

.websiteLink li:nth-child(5) {
  background-position: -2px -172px;
}

.websiteLink li:nth-child(6) {
  background-position: -2px -214px;
}

.websiteLink li:nth-child(7) {
  background-position: -2px -254px;
}

.rightSell a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* middleArea */
.middleShowList {
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
}

.middleShowList li {
  float: left;
  height: 42px;
  padding: 13px 20px;
  color: #333;
  font: 14px "arialMT";
  cursor: pointer;
}

.middleShowList li.currentShow {
  color: #fff;
  font-weight: bold;
  background-color: #d53333;
}

 .middleShowList li:hover {
  color: #fff;
  font-weight: bold;
  background-color: #d53333;
}

.mainContent {
  background-color: #fff;
  float: left;
  width: 100%;
  /* height: 576px; */
  display: none;
}

.currentSelected {
  display: block;
}

.exhibitionUl {
  width: 67%;
  max-width: 996px;
  margin : 46px auto 0;
}
.exhibitionUl li {
  width: 100%;
  /* height: auto; */
}
.exhibitionUl li img {
  width: 100%;
  height: auto;
}

.downloadArea {
  width: 96%;
  margin : 0 auto 130px;
}

.mainContent:nth-child(2) {
  background-color: orangered;
}

.mainContent:nth-child(4) {
  padding: 72px 0 0 20px;
  color: #333;
  font: 14px "arialMT";
}

.mainContent:nth-child(4) .relatedTit {
  width: 96%;
  margin : 0 auto 32px;
  /* margin-bottom: 32px; */
}
.mainContent:nth-child(4) .relatedList {
  margin-bottom: 48px;
}

.mainContent:nth-child(4) .relatedList li {
  width: 96%;
  margin : 0 auto;
  height: 30px;
  line-height: 30px;
  /* padding-left: 42px; */
}

.mainContent:nth-child(4) .relatedList li dt,
.mainContent:nth-child(4) .relatedList li dd {
  /* display: inline-block; */
  float: left;
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 14px;

  /* font: 14px "arialMT"; */
}

.mainContent:nth-child(4) .relatedList li dt {
  width: 22%;
}

.mainContent:nth-child(4) .relatedList li:nth-child(odd) {
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}

.mainContent:nth-child(4) .downloadBtn {
  width: 220px;
  height: 42px;
  line-height: 42px;
  color: #d53333;
  border: 1px solid #c53333;
  background-color: #fecfdf;
  margin-top: 29px;
  padding-left: 58px;
  border-radius: 6px;
}

.mainContent:nth-child(4) .downloadBtn i {
  position: absolute;
  top: 10px;
  left: 24px;
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/download.png") no-repeat;
}

.mainContent:nth-child(4) .downloadBtn a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.mainContent:nth-child(3) {
  background-color: gray;
}

.mainContent:nth-child(5) {
  height: 576px;
  padding: 72px 0 0 20px;
  color: #333;
  font: bold 14px "arialMT";
}

.mainContent:nth-child(5) .FAQtit {
  margin-bottom: 36px;
}

.mainContent:nth-child(5) .FAQaq li {
  /* height: 20px; */
  /* line-height: 20px; */
  padding-left: 24px;
}

.mainContent:nth-child(5) .FAQaq li i {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(1) {
  margin-bottom: 14px;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(1) i {
  background: url("../img/Q.png") no-repeat;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(2) {
  color: #666;
  font-weight: normal;
  margin-bottom: 30px;
}

.mainContent:nth-child(5) .FAQaq li:nth-child(2) i {
  background: url("../img/A.png") no-repeat;
}

.relatedPro {
  width: 100%;
  margin-top : 115px;
  /* margin: 115px 0; */
}

.relatedProContent {
  width: 100%;
  /* width: 1494px; */
}

 .relatedProT {
   width: 100%;
   /* display: flex; */
  text-align: center;
}

.relatedProT .relatedProTit {
  color: #333;
  font: 30px "arialMT";
}

.relatedProT .relatedProDesc {
  color: #666;
  font: 16px "arialMT";
  margin-bottom: 60px;
}

.relatedProShow  {
  width: 100%;
  display: flex;
}
.relatedProShow li {

  text-align: center;
  width: 20%;
  max-width: 286px;
  height: auto;
  border: 1px solid #f5f5f5;
  /* margin: 0 20px 50px 0; */
  margin-bottom: 50px;
  padding-top: 32px;
  background-color: #fff;
}

.relatedProShow li img {
  width: 77%;
  max-width: 220px;
  height: auto;
  margin : 0 auto;
}

.relatedProShow li:nth-child(5n) {
  margin-right: 0px;
}

.relatedProShow a {
  text-align: center;
  color: #333;
  font: 16px "arialMT";
}

.relatedProShow p {
  margin-top: 32px;
  margin-bottom: 36px;
}

.reviewArea {
  width: 100%;
  /* height: 472px; */
  margin-bottom: 142px;
  background-color: #fff;
}
.revTit {
  width: 96%;
  height: 66px;
  margin: 0 auto;
  /* border-bottom: 1px solid #ddd; */
}
.revContent {
  width: 96%;
  margin : 0 auto 36px;
  padding-top : 37px;
  border-top : 1px solid #ddd;
}
.revContent {
  font-family: "arialMT";
  
}
.revConLeft {
  width: 30%;
}
.revContent .name {
  font-size: 14px;
  color : #333;
}
.revContent .datetime {
  font-size: 12px;
  color : #999;
}

.revConright {
  width: 70%;
}
.revConright .top .des {
  color : #333;
  font : bold 12px "arialMT";
  margin-top : 10px;
}
.revConright .down .des {
  width: 94%;
  font : 12px "arialMT";
  color : #666;
  margin-top : 12px;
}

.mui-ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.readMore,.hideBtn {
  position: absolute;
  
  right:0;
  cursor: pointer;
}
.readMore {
  font : 12px "arialMT";
  top : 31px;
  right : 25px;
}
.hideBtn {
  bottom: 0;
  display: none;
}
.imgList {
  width: 100%;
  display: flex;
  margin-top : 10px;
}
.imgList li {
  position: relative;
  width: 56px;
  margin-right: 5px;
  /* height: 56px; */
}
.imgList li a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.imgList li img {
  width: 100%;
  height: auto;
}

.revbigImgArea {
  position: absolute;
  top : -50px;
  left : -50px;
  width: 406px;
  height: 340px;
  overflow: hidden;
  display: none;
  z-index: 2;

}
.revbigImg li {
  float: left;
  width: 100%;
  height: 100%;
  display: none;
}
.revbigImg img {
  width: 100%;
  height: auto;
}
.leftBtn,.rightBtn {
  position: absolute;
  top : 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  background-color: yellowgreen;
}
.leftBtn {
  left : 0;
}
.rightBtn {
  right : 0;
}
.closeBtn {
  display: block;
  position: absolute;
  top : 0;
  right : 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: red;
}


@media screen and (max-width: 414px) {
  .countryList {
    display: block;
  }
  .countryList li {
    float: left;
  }
}

@media screen and (max-width: 1024px) {
  .leftSell {
    float: none;
    width: 100%;
  }
  .rightSell {
    width: 100%;
  }
  /* .bigImg {
    padding-top : 10%;
  } */
}

@media screen and (min-width: 1280px) {
  .tit {
    font-size: 16px;
  }
  .d53333 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1600px) {
  .leftSell {
    max-width : 505px;
  }
  .rightSell {
    max-width : 977px;
  }
  /* 销售区域右边的权宜之计 */
  .proLisDetailModule .leftSell {
    margin-right : 18px;
  }
  .tit {
    font-size: 18px;
  }
  .d53333 {
    font-size: 30px;
  }
  .websiteLink {
    margin-bottom: 38px;
  }
  .sellTitArea {
    margin-bottom: 44px;
    padding-top: 64px;
  }
  .priceArea {
    margin-bottom: 31px;
  }

}

@media screen and (min-width: 1920px) {
  .relatedProShow li {
    margin-right : 20px;
  }
}