.regCancelSubSuccess {
  margin: 110px auto;
}

.regContentBox {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: 507px;
  background-color: #fff;
  padding: 94px 0 0;
}

.regContentBox .regTit {
  width: 63%;
  height: 82px;
  line-height: 82px;
  color: #333;
  font-size: 26px;
  font-weight: bold;
  margin: 0 auto 90px;
  text-align: center;
}

.leftImg {
  float: left;
  width: 82px;
  height: 82px;
  vertical-align: middle;
  margin-right: 36px;
}

.titWord {
  float: left;
}

.regContentBox .regContent {
  width: 69%;
  max-width: 480px;
  margin: 0 auto;
  color: #666;
}

.regContentBox .regContent .d53333 {
  margin: 22px 0;
  color: #d53333;
}

@media screen and (max-width: 414px) {
  .leftImg {
    float: none;
    margin : 0 auto;
  }

  .regContentBox .regTit {
    font-size: 18px;
  }
}