.regVerfyAccount {
  margin: 110px auto;
}

.actContent {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  height: 275px;
  background-color: #fff;
  position: relative;
}

.actMainContent {
  position: absolute;
  top : 50%;
  left : 50%;
  transform: translate(-50%,-50%);
  width: 82%;
  max-width: 414px;
}

.actContent .subTit {
  float: left;
  width: 56%;
  max-width: 232px;
  margin-top : 25px;
  color: #333;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 8px;
}

.actContent .content {
  float: left;
  color: #666;
}

.actContent .subImg {
  float: left;
  width: 82px;
  height: 82px;
  margin-right: 36px;
}

@media screen and (max-width: 414px) {
  .actMainContent {
    padding-top : 82px;
  }
  .actContent .subImg {
    position: absolute;
    top : 0;
    left : 50%;
    transform: translateX(-50%);
  }
  .actContent .subTit {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}