.regCancelSubSuccess {
  width: 1920px;
  height: 658px;
  background-color: #f5f5f5;
  padding: 30px 0 0 608px;
}
.regCancelSubSuccess .regContentBox {
  position: relative;
  width: 700px;
  height: 507px;
  background-color: #fff;
  padding: 94px 0 0 108px;
}
.regCancelSubSuccess .regContentBox .regTit {
  width: 480px;
  height: 82px;
  line-height: 82px;
  padding: 22px 0 0 118px;
  color: #333;
  font: 26px "Arial-BoldMT";
  background: url("../img/success.jpg") no-repeat;
  margin-bottom: 90px;
}
.regCancelSubSuccess .regContentBox .regContent {
  width: 480px;
  color: #666;
  font: 14px "ArialMT";
}
.regCancelSubSuccess .regContentBox .regContent .d53333 {
  margin: 22px 0;
  color: #d53333;
}
