<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- 基础样式 -->
   <link rel="stylesheet" href="../public/PublicStyle/basic.css">
   <!-- 清除样式 -->
   <link rel="stylesheet" href="../public/PublicStyle/normalize.css">
   <!-- 引入自己的css文件 -->
   <link rel="stylesheet" href="../public/comparison(LPB)/css/bijia.css">
  <title>商品详情</title>
</head>

<body>
 <!-- head -->
 <Iframe name="top-page" width="100%" height="101px" marginwidth=0 marginheight=0 src="../PublicFile/comHeader.html"></Iframe>

  <!-- 菜单导航 -->
  <nav>
    <a href="../homepage.html">首页 </a> &#62;
    <a href="javascript:history.back(-1)"> </a> &#62;
    <span></span>
  </nav>
  <!-- 主要内容展示 -->
  <section class="main1">
    <!-- 商品展示 -->
    <div class="detail">

      <!-- 商品详情 -->

    </div>
    <!-- 商品了解 -->
    <div class="main-know">
      <!-- 导航菜单 -->
      <div class="bar">
        <ul>
          <li id="main-nav">
            <a href="javascript:;">比价购买</a>
          </li>
          <li>
            <a href="javascript:;">产品参数</a>
          </li>
          <li>
            <a href="javascript:;">优选评论</a>
          </li>
        </ul>
      </div>
      <div class="nav-main">
        <!-- 比价购买 -->
        <div class="parity">
          <div class="par-top">

            <!-- 商城购买 -->  

          </div>
          <div class="par-bottom">
            <p>* 实际价格价格以个网站列出的实时售价为准，我们提供的价格可能有数小时至数日的延迟。</p>
            <!-- 评论 -->
            <div class="assess">
              <div class="title">
                <h4>优选网友评论</h4>
              </div>
              <div class="mssf">


                <!-- 评论专区 -->


              </div>
            </div>
          </div>
        </div>
        <!-- 产品参数 -->
        <div class="parameter"></div>
        <!-- 优选评论 -->
        <div class="commment"></div>
      </div>
    </div>
  </section>
  <!-- 查看更多评论 -->
  <section class="main2">
    <div class="paar">
      查看更多评论
    </div>
  </section>

   <!-- foot -->
  <iframe name="top-page" width="100%" height="100px" marginwidth=0 marginheight=0 src="../PublicFile/comFooter.html" id="SQkFooter"></iframe>

</body>

</html>
 

<!-- 商品详情模板 -->
<script type="text/template" id="detail">
  {{each result  value}}
  <div class="print">
    {{@value.productImg}}
  </div>
  <div class="products">
    <p>{{value.productName}}</p>
  </div>
  {{/each}}
</script>
<!-- 推荐商城模板 -->
<script type="text/template" id="detail2">
  {{each result  value}} {{@value.bjShop}} {{/each}}
</script>
<!-- 商品评论模板 -->
<script type="text/template" id="discuss">
  {{each result value}}
  <div class="judge">
    <div class="line1">
      <span>{{value.comName}}</span>
      <span>{{value.comTime}}</span>
    </div>
    <div class="line2">
      <p>{{value.comFrom}}</p>
    </div>
    <div class="line3">
      <p>{{value.comContent}}</p>
      <a href="#">回复</a>
    </div>
  </div>
  {{/each}}
</script>

<script data-main="../public/lib/main" src="../public/lib/require.js"></script>

  <script>

    require(['../public/comparison(LPB)/js/bijia.js'])
    
  </script>