<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<footer class="footer">
    <section class="wrap">
        <section class="clearfix">
            <section class="fl footer_leftPart">
                <h2 class="footer_title">SUBSCRIBE</h2>
                <p>Be the first to know about our latest products.</p>
                <form class="clearfix">
                    <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
                    <button type="button" class="btn_submit fr">Subscribe</button>
                </form>
                <section class="icon_list">
                    <a href="javascript: void(0);" target="_blank" class="fb"></a>
                    <a href="javascript: void(0);" target="_blank" class="gg"></a>
                    <a href="javascript: void(0);" target="_blank" class="In"></a>
                    <a href="javascript: void(0);" target="_blank" class="You"></a>
                    <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
                    <a href="javascript: void(0);" target="_blank" class="pp"></a>
                    <a href="javascript: void(0);" target="_blank" class="tt"></a>
                </section>
                <p class="msg">Email: anny@banggood.com</p>
                <p class="msg">Tel: +8612345678</p>
            </section>
            <section class="fr footer_rightPart">

                <dl class="fl">
                    <dt>ABOUT</dt>
                    <dd><a href="http://www.sistalk.com/Our-philosophy-a-43.html">Our Guarantees</a></dd>
                    <dd><a href="http://www.sistalk.com/Careers-a-47.html">Order Tracking</a></dd>
                    <dd><a href="http://www.sistalk.com/Privacy-a-48.html">Points & Coupons</a></dd>
                    <dd><a href="http://www.sistalk.com/Terms-of-use-a-49.html">New User Guide</a></dd>
                    <dd><a href="http://www.sistalk.com/Press-room-a-50.html">Frequently Asked Questions</a></dd>
                </dl>
                <dl class="fl">
                    <dt>SUPPORT</dt>
                    <dd><a href="http://www.sistalk.com/SISTALK-Warranty-a-54.html">Our Guarantees</a></dd>
                    <dd><a href="http://www.sistalk.com/GENERAL-FAQs-a-55.html">Order Tracking</a></dd>
                    <dd><a href="http://www.sistalk.com/Contact-us-a-56.html">Points & Coupons</a></dd>
                    <dd><a href="http://www.sistalk.com/Students-a-57.html">New User Guide</a></dd>
                    <dd><a href="http://www.sistalk.com/How-to-choose-a-vibrator-a-59.html">Frequently Asked Questions</a></dd>
                </dl>

            </section>
        </section>
        <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
</footer>
</body>
</html>