<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
</head>
<body>
  <footer>
      <section>
          <div class="subscribeContent">
              <span class="subscribe">SUBSCRIBE</span>
              <span class="warning">Be the first to know about our latest products.</span>
              <div class="inputContent">
                  <input type="text" placeholder="Enter your emial address">
                  <a href="#" class="subscribeA">Subscribe</a>
              </div>
              
              <ul class="websiteLink">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
              <span class="email">EMAIL:anny@banggood.com</span>
              <span class="tel">TEL:+8612345678</span>
            </div>
            <ul class="about">
              <li>ABOUT</li>
              <li><a href="#">Our Guarantees</a></li>
              <li><a href="#">Order Tracking</a></li>
              <li><a href="#">Points & Coupons</a></li>
              <li><a href="#">New User Guide</a></li>
              <li><a href="#">Frequently Asked Questions</a></li>
            </ul>
            <ul class="about">
              <li>SUPPORT</li>
              <li><a href="#">Our Guarantees</a></li>
              <li><a href="#">Order Tracking</a></li>
              <li><a href="#">Points & Coupons</a></li>
              <li><a href="#">New User Guide</a></li>
              <li><a href="#">Frequently Asked Questions</a></li>
            </ul>
      </section>
      <p>Copyright © 2018 xxx All Rights Reserved</p>
  </footer>
</body>
</html>