<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
</head>

<body>

  <!-- 头部 -->
  <!--<div class="header pr clearfix">
    <div class="hdMain pr clearfix">
      <div class="logo fl">
        <h1 id="moreslan">
          <a href="./index.html" class="navbar-brand">Moreslan</a>
        </h1>
      </div>
      <div id="nav" class="clearfix fl">
        <ul class="nav-in clearfix">
          <li class="mr47">
            <div class="guide"></div>
            <a href="#">Products</a>
            &lt;!&ndash; 鼠标移入后显示内容区域 &ndash;&gt;
            <div class="liMain">
              <div class="liMainContent clearfix">

                <div class="dlList clearfix">
                  &lt;!&ndash; 第一列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Power</a>
                    </dt>
                    <dd>
                      <a href="#">iPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">TV Accessories</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第二列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Audio & Sounds</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">Home Decoration</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第三列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Stage Lighting Effects</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                </div>

              </div>
            </div>
          </li>
          <li class="mr47">
            <div class="guide"></div>
            <a href="#">Promotion</a>
            <div class="liMain">
              <div class="liMainContent clearfix">
                <div class="dlList clearfix">
                  &lt;!&ndash; 第一列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Power</a>
                    </dt>
                    <dd>
                      <a href="#">iPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">TV Accessories</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第二列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Audio & Sounds</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">Home Decoration</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第三列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Stage Lighting Effects</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

          </li>
          <li class="mr47">
            <div class="guide"></div>
            <a href="#">Community</a>
            <div class="liMain">
              <div class="liMainContent clearfix">
                <div class="dlList clearfix">
                  &lt;!&ndash; 第一列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Power</a>
                    </dt>
                    <dd>
                      <a href="#">iPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">TV Accessories</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第二列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Audio & Sounds</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">Home Decoration</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第三列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Stage Lighting Effects</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

          </li>
          <li class="mr47">
            <div class="guide"></div>
            <a href="#">Support</a>
            <div class="liMain">
              <div class="liMainContent clearfix">
                <div class="dlList clearfix">
                  &lt;!&ndash; 第一列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Power</a>
                    </dt>
                    <dd>
                      <a href="#">iPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">TV Accessories</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第二列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Audio & Sounds</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">Home Decoration</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第三列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Stage Lighting Effects</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

          </li>
          <li class="pr">

            <a href="#" id="search"></a>
          </li>
          <li class="login">
            <a href="#">Login</a>
          </li>
          <li class="register">
            <a href="#">Register</a>
          </li>
        </ul>
      </div>
    </div>

  </div>-->

  <!--class名为index_header表明是首页导航, class名为other_header表明是非首页导航-->
  <nav class="header_box index_header wrap">
    <section class="wrap">
      <a href="/" class="logo fl"><img src="../img/logo_01.png"></a>
      <ul class="nav_bar fl">
        <!--针对m端下拉菜单 设置箭头提示-->
        <!--如有子元素，则父级添加class='menu_child'-->
        <li class="nLi menu_child">
          <a href="javascript:void(0);">Products</a><b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt class='menu_child'><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt class='menu_child'><a href="javascript: void(0)">Audio & Sounds</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Promotion</a><b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Audio & Sounds</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi"><a href="javascript:void(0);">Community</a><b></b></li>
        <li class="nLi"><a href="javascript:void(0);">Support</a><b></b></li>
      </ul>
      <section class="nav_user fr">
        <a href="javascript: void(0);" class="search"></a>
        <ul class="user_action fl">
          <li class="fl"><a href="javascript: void(0);" class="login">Login</a><b></b></li>
          <li class="fl line"></li>
          <li class="fl"><a href="javascript: void(0);" class="register">Register</a><b></b></li>
          <!--m端下拉菜单框-->
          <li class="navbar_toggle fl"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></li>
        </ul>
      </section>
    </section>
  </nav>

  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>

</html>