<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/helpCenterActive.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main>
    <div class="proShow">
      <img src="../images/image_38.jpg" alt="">
    </div>

    <div class="content">
      <div class="contentShow">
        <div class="left">
          <div class="tit">HOW TO ENTER THE GIVEWAY</div>
          <div class="par">
            <p>
              Enter your email address and share via social media to enter the contest.<br>
              Note:only one entry per person. U.S. (mainland) residents only. Giveaway begins on September 16 and ends on September 28.We will randomly select 2 lucky winners on September 28.All winners will receive a notification via email on Semptember 28. Winners will then need to provide their shipping address by Octor 6,after which prizes will be shipped out within 7 working days.
            </p>
          </div>
        </div>
        <div class="right">
            <div class="tit">
              Winners:
            </div>
            <div class="message">
              <p>st*****ke@gmail.com</p>
              <p>rd*****yt@gmail.com</p>
              <p>hg*****c1@gmail.com</p>
            </div>
        </div>
      </div>
    </div>
  </main>






  <!--引入尾部文件  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>
</body>

</html>