<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/helpCenterDownloadCenter.css">
</head>

<body>
  <!-- 引入头部 -->
  <nav class="header_box other_header wrap">
    <section class="wrap">
      <a href="/" class="logo fl">
        <img src="../images/logo.png">
      </a>
      <ul class="nav_bar fl">
        <!--针对m端下拉菜单 设置箭头提示-->
        <!--如有子元素，则父级添加class='menu_child'-->
        <li class="nLi menu_child">
          <a href="javascript:void(0);">Products</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Promotion</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Community</a>
          <b></b>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Support</a>
          <b></b>
        </li>
      </ul>
      <section class="nav_user fr">
        <a href="javascript: void(0);" class="search"></a>
        <ul class="user_action fl">
          <li class="fl">
            <a href="javascript: void(0);" class="login">Login</a>
            <b></b>
          </li>
          <li class="fl line"></li>
          <li class="fl">
            <a href="javascript: void(0);" class="register">Register</a>
            <b></b>
          </li>
          <!--m端下拉菜单框-->
          <li class="navbar_toggle fl">
            <span class="icon_line"></span>
            <span class="icon_line"></span>
            <span class="icon_line"></span>
          </li>
        </ul>
      </section>
    </section>
  </nav>

  <main class="hcdc">
    <div class="downloadProShow">
      <img src="../images/image_38.jpg" alt="">
    </div>

    <div class="downloadArt wrap">
      <div class="wrapper">
        <ul class="tab">
          <!-- 跳转到对应li的时候，要加上border-bottom-colorD533 此class是增加下划线代表是当前网页 -->
          <li class="tab-item border-bottom-colorD533">
            <a href="#">All</a>
          </li>
          <li class="tab-item">
            <a href="#"> Office Products</a>
          </li>
          <li class="tab-item">
            <a href="#">Office Products</a>
          </li>
          <li class="tab-item">
            <a href="#">Office Products</a>
          </li>
          <li class="tab-item">
            <a href="#">Office Products</a>
          </li>
        </ul>
        <div class="products">
          <div class="main selected">
            <ul class="showMoreNChildren clearfix">
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#" class="block-with-text">
                      Xiaomi Redmi Note 4X fingerprise Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab temporibus alias nulla tempora,
                      sequi at exercitationem quod officia unde illo culpa possimus tenetur eos fugiat? Deleniti, culpa?
                      Praesentium, ad voluptate.lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sequi
                      optio soluta excepturi, doloremque aliquam animi omnis fugit eos nesciunt veniam! Maxime dicta optio
                      officia deleniti quod, assumenda magni nostrum.
                    </a>
                  </div>
                </div>
                <div class="pro-tit">
                  hello world
                </div>
              </li>

              


            </ul>
          </div>

        </div>
        <div class="searchBox">
          <input type="text" placeholder="Search by Product Name SKU ASIN">
          <a class="search" href="#"></a>
        </div>
        <!-- <div class="loadMoreBox">
          <div class="loadMore">Load More +</div>
        </div> -->
      </div>
    </div>

  </main>






  <!--引入尾部文件  -->
  <footer class="footer">
    <section class="wrap">
      <section class="clearfix">
        <section class="fl footer_leftPart">
          <h2 class="footer_title">SUBSCRIBE</h2>
          <p>Be the first to know about our latest products.</p>
          <form class="clearfix">
            <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
            <button type="button" class="btn_submit fr">Subscribe</button>
          </form>
          <section class="icon_list">
            <a href="javascript: void(0);" target="_blank" class="fb"></a>
            <a href="javascript: void(0);" target="_blank" class="gg"></a>
            <a href="javascript: void(0);" target="_blank" class="In"></a>
            <a href="javascript: void(0);" target="_blank" class="You"></a>
            <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
            <a href="javascript: void(0);" target="_blank" class="pp"></a>
            <a href="javascript: void(0);" target="_blank" class="tt"></a>
          </section>
          <p class="msg">Email: anny@banggood.com</p>
          <p class="msg">Tel: +8612345678</p>
        </section>
        <section class="fr footer_rightPart">

          <dl class="fl">
            <dt>ABOUT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>
          <dl class="fl">
            <dt>SUPPORT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>

        </section>
      </section>
      <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
  </footer>

  <script src="../js/jquery.js"></script>
  <script src="../js/helpCenterDownloadCenter.js"></script>
</body>

</html>