<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/helpCenterDownloadCenter.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main>
    <div class="downloadProShow">
      <img src="../images/image_38.jpg" alt="">
    </div>

    <div class="downloadArt">
      <div class="wrapper">
        <ul class="tab">
          <li class="tab-item active">All
            <span></span>
          </li>
          <li class="tab-item">Office Products
            <span></span>
          </li>
          <li class="tab-item">Office Products
            <span></span>
          </li>
          <li class="tab-item">Office Products
            <span></span>
          </li>
          <li class="tab-item">Office Products
            <span></span>
          </li>

        </ul>
        <div class="products">
          <div class="main selected">
            <ul>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>
              <li>
                <img src="../images/image_39.png" alt="">
                <div class="hideBox">
                  <div class="tit">Download List</div>
                  <div class="message">
                    <a href="#">
                      <p>Xiaomi Redmi Note 4X fingerprise</p>
                      <p>Xiaomi Redmi5.5-Redmi Note</p>
                      <p>TaoTronics Automatic Sensing...</p>
                    </a>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <!-- demo样式在上线前撤销掉，此前只是测试用 -->
          <div class="main demo">
            This is the second main Area
          </div>
          <div class="main demo">
            This is the third main Area
          </div>
          <div class="main demo">
            This is the fourth main Area
          </div>
          <div class="main demo">
            This is the fifth main Area
          </div>
        </div>
        <div class="searchBox">
          <input type="text" placeholder="Search by Product Name SKU ASIN">
          <span class="search"></span>
        </div>
        <div class="loadMoreBox">
          <div class="loadMore">Load More +</div>
        </div>
      </div>
    </div>

  </main>






  <!--引入尾部文件  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <script src="../js/jquery.js"></script>
  <script src="../js/helpCenterDownloadCenter.js"></script>
</body>

</html>