<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/helpCenterSupportCenter.css">
</head>

<body>
  <!-- 引入头部 -->
  <nav class="header_box other_header wrap">
    <section class="wrap">
      <a href="/" class="logo fl">
        <img src="../images/logo.png">
      </a>
      <ul class="nav_bar fl">
        <!--针对m端下拉菜单 设置箭头提示-->
        <!--如有子元素，则父级添加class='menu_child'-->
        <li class="nLi menu_child">
          <a href="javascript:void(0);">Products</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Promotion</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Community</a>
          <b></b>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Support</a>
          <b></b>
        </li>
      </ul>
      <section class="nav_user fr">
        <a href="javascript: void(0);" class="search"></a>
        <ul class="user_action fl">
          <li class="fl">
            <a href="javascript: void(0);" class="login">Login</a>
            <b></b>
          </li>
          <li class="fl line"></li>
          <li class="fl">
            <a href="javascript: void(0);" class="register">Register</a>
            <b></b>
          </li>
          <!--m端下拉菜单框-->
          <li class="navbar_toggle fl">
            <span class="icon_line"></span>
            <span class="icon_line"></span>
            <span class="icon_line"></span>
          </li>
        </ul>
      </section>
    </section>
  </nav>

  <main class="hcsc">
    <div class="supportProShow">
      <img src="../images/image_38.jpg" alt="">
    </div>

    <div class="supportContent">
      <div class="detail wrap">
        <div class="left">
          <!-- 鼠标点击跳转之后，需要将跳转之后的 li 里面的 a 加上colorD533 这个 class，代表当前页 -->
          <ul>
            <li class="tit">About</li>
            <li>
              <a href="#" class="colorD533">About Us</a>
            </li>
            <li class="last">
              <a href="#"> Wholesale</a>
            </li>
          </ul>
          <ul>
            <li class="tit">Support</li>
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li class="lastone">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li class="tit">About Outerdo</li>
            <li class="right-des">Found in 2015,Outerdo is dedicated to provide cycling accessories for road,racing and mountain bikes, for the
              professional,beginner and casual ride. Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores
              iste ipsum ducimus, reiciendis, aliquid sit eligendi voluptas perspiciatis architecto voluptatem vitae est
              quam perferendis praesentium. Illum expedita blanditiis inventore?</li>
          </ul>
        </div>
      </div>
    </div>
  </main>

  <!--引入尾部文件  -->
  <footer class="footer">
    <section class="wrap">
      <section class="clearfix">
        <section class="fl footer_leftPart">
          <h2 class="footer_title">SUBSCRIBE</h2>
          <p>Be the first to know about our latest products.</p>
          <form class="clearfix">
            <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
            <button type="button" class="btn_submit fr">Subscribe</button>
          </form>
          <section class="icon_list">
            <a href="javascript: void(0);" target="_blank" class="fb"></a>
            <a href="javascript: void(0);" target="_blank" class="gg"></a>
            <a href="javascript: void(0);" target="_blank" class="In"></a>
            <a href="javascript: void(0);" target="_blank" class="You"></a>
            <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
            <a href="javascript: void(0);" target="_blank" class="pp"></a>
            <a href="javascript: void(0);" target="_blank" class="tt"></a>
          </section>
          <p class="msg">Email: anny@banggood.com</p>
          <p class="msg">Tel: +8612345678</p>
        </section>
        <section class="fr footer_rightPart">

          <dl class="fl">
            <dt>ABOUT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>
          <dl class="fl">
            <dt>SUPPORT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>

        </section>
      </section>
      <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
  </footer>

</body>

</html>