<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="stylesheet" href="../css/flexslider.css">
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>

<body>
  <!-- header -->
  <!--<div class="header pr clearfix">
    <div class="logo fl">
      <h1 id="moreslan">
        <a href="./index.html" class="navbar-brand">Moreslan</a>
      </h1>
    </div>
    <div id="nav" class="clearfix fl">
      <ul class="nav-in clearfix">
        <li class="mr47">
          <div class="guide"></div>
          <a href="#">Products</a>
          &lt;!&ndash; 鼠标移入后显示内容区域 &ndash;&gt;
          <div class="liMain">
            <div class="liMainContent clearfix">

              <div class="dlList clearfix">
                &lt;!&ndash; 第一列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Power</a>
                  </dt>
                  <dd>
                    <a href="#">iPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                  <dt class="titledt">
                    <a href="#">TV Accessories</a>
                  </dt>
                  <dd>
                    <a href="#">WIFI Dongle</a>
                  </dd>
                  <dd>
                    <a href="#">Stereo Speaker</a>
                  </dd>
                  <dd>
                    <a href="#">Turntable</a>
                  </dd>
                </dl>
                &lt;!&ndash; 第二列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Audio & Sounds</a>
                  </dt>
                  <dd>
                    <a href="#">WIFI Dongle</a>
                  </dd>
                  <dd>
                    <a href="#">Stereo Speaker</a>
                  </dd>
                  <dd>
                    <a href="#">Turntable</a>
                  </dd>
                  <dt class="titledt">
                    <a href="#">Home Decoration</a>
                  </dt>
                  <dd>
                    <a href="#">IPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                </dl>
                &lt;!&ndash; 第三列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Stage Lighting Effects</a>
                  </dt>
                  <dd>
                    <a href="#">IPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                </dl>
              </div>

            </div>
          </div>
        </li>
        <li class="mr47">
          <div class="guide"></div>
          <a href="#">Promotion</a>
          <div class="liMain">
            <div class="liMainContent clearfix">
              <div class="dlList clearfix">
                &lt;!&ndash; 第一列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Power</a>
                  </dt>
                  <dd>
                    <a href="#">iPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                  <dt class="titledt">
                    <a href="#">TV Accessories</a>
                  </dt>
                  <dd>
                    <a href="#">WIFI Dongle</a>
                  </dd>
                  <dd>
                    <a href="#">Stereo Speaker</a>
                  </dd>
                  <dd>
                    <a href="#">Turntable</a>
                  </dd>
                </dl>
                &lt;!&ndash; 第二列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Audio & Sounds</a>
                  </dt>
                  <dd>
                    <a href="#">WIFI Dongle</a>
                  </dd>
                  <dd>
                    <a href="#">Stereo Speaker</a>
                  </dd>
                  <dd>
                    <a href="#">Turntable</a>
                  </dd>
                  <dt class="titledt">
                    <a href="#">Home Decoration</a>
                  </dt>
                  <dd>
                    <a href="#">IPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                </dl>
                &lt;!&ndash; 第三列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Stage Lighting Effects</a>
                  </dt>
                  <dd>
                    <a href="#">IPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

        </li>
        <li class="mr47">
          <div class="guide"></div>
          <a href="#">Community</a>
          <div class="liMain">
            <div class="liMainContent clearfix">
              <div class="dlList clearfix">
                &lt;!&ndash; 第一列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Power</a>
                  </dt>
                  <dd>
                    <a href="#">iPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                  <dt class="titledt">
                    <a href="#">TV Accessories</a>
                  </dt>
                  <dd>
                    <a href="#">WIFI Dongle</a>
                  </dd>
                  <dd>
                    <a href="#">Stereo Speaker</a>
                  </dd>
                  <dd>
                    <a href="#">Turntable</a>
                  </dd>
                </dl>
                &lt;!&ndash; 第二列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Audio & Sounds</a>
                  </dt>
                  <dd>
                    <a href="#">WIFI Dongle</a>
                  </dd>
                  <dd>
                    <a href="#">Stereo Speaker</a>
                  </dd>
                  <dd>
                    <a href="#">Turntable</a>
                  </dd>
                  <dt class="titledt">
                    <a href="#">Home Decoration</a>
                  </dt>
                  <dd>
                    <a href="#">IPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                </dl>
                &lt;!&ndash; 第三列 &ndash;&gt;
                <dl class="firstdl fl">
                  <dt class="titledt">
                    <a href="#">Stage Lighting Effects</a>
                  </dt>
                  <dd>
                    <a href="#">IPhone MFI Battery Case</a>
                  </dd>
                  <dd>
                    <a href="#">Wireless Charger</a>
                  </dd>
                  <dd>
                    <a href="#">Portable Charger</a>
                  </dd>
                  <dd>
                    <a href="#">USB Hub</a>
                  </dd>
                </dl>
              </div>
            </div>
          </div>

        </li>
        <li class="mr47">
            <div class="guide"></div>
          <a href="#">Support</a>
          <div class="liMain">
              <div class="liMainContent clearfix">
                <div class="dlList clearfix">
                  &lt;!&ndash; 第一列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Power</a>
                    </dt>
                    <dd>
                      <a href="#">iPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">TV Accessories</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第二列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Audio & Sounds</a>
                    </dt>
                    <dd>
                      <a href="#">WIFI Dongle</a>
                    </dd>
                    <dd>
                      <a href="#">Stereo Speaker</a>
                    </dd>
                    <dd>
                      <a href="#">Turntable</a>
                    </dd>
                    <dt class="titledt">
                      <a href="#">Home Decoration</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                  &lt;!&ndash; 第三列 &ndash;&gt;
                  <dl class="firstdl fl">
                    <dt class="titledt">
                      <a href="#">Stage Lighting Effects</a>
                    </dt>
                    <dd>
                      <a href="#">IPhone MFI Battery Case</a>
                    </dd>
                    <dd>
                      <a href="#">Wireless Charger</a>
                    </dd>
                    <dd>
                      <a href="#">Portable Charger</a>
                    </dd>
                    <dd>
                      <a href="#">USB Hub</a>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

        </li>
        <li class="pr">
            
          <a href="#" id="search"></a>
        </li>
        <li class="login">
          <a href="#">Login</a>
        </li>
        <li class="register">
          <a href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>-->

  <!--class名为index_header表明是首页导航, class名为other_header表明是非首页导航-->
  <nav class="header_box index_header wrap">
      <section class="wrap">
        <a href="/" class="logo fl"><img src="../img/logo_01.png"></a>
        <ul class="nav_bar fl">
          <!--针对m端下拉菜单 设置箭头提示-->
          <!--如有子元素，则父级添加class='menu_child'-->
          <li class="nLi menu_child">
            <a href="javascript:void(0);">Products</a><b></b>
            <!--下拉菜单-->
            <section class="menu_bg hide">
              <section class="wrap menu_box">
                <dl class="menu_list">
                  <dt class='menu_child'><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt class='menu_child'><a href="javascript: void(0)">Audio & Sounds</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
              </section>
            </section>
          </li>
          <li class="nLi">
            <a href="javascript:void(0);">Promotion</a><b></b>
            <!--下拉菜单-->
            <section class="menu_bg hide">
              <section class="wrap menu_box">
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Audio & Sounds</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
              </section>
            </section>
          </li>
          <li class="nLi"><a href="javascript:void(0);">Community</a><b></b></li>
          <li class="nLi"><a href="javascript:void(0);">Support</a><b></b></li>
        </ul>
        <section class="nav_user fr">
          <a href="javascript: void(0);" class="search"></a>
          <ul class="user_action fl">
            <li class="fl"><a href="javascript: void(0);" class="login">Login</a><b></b></li>
            <li class="fl line"></li>
            <li class="fl"><a href="javascript: void(0);" class="register">Register</a><b></b></li>
            <!--m端下拉菜单框-->
            <li class="navbar_toggle fl"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></li>
          </ul>
        </section>
      </section>
    </nav>
  <!-- slideShow -->
  <div class="flexslider">
    <ul class="slides">
      <li class="pr">
        <a href="#">
          <img src="../img/image_02.png" alt="">
        </a>
        <div class="word">
          <p class="wordTit">OUR MOST <br> ADVANCED LAMP YET</p>
          <p class="des">Brightening your home like never before</p>
          <div class="detail"><a href="#">Detail</a></div>
        </div>
      </li>
      <li>
        <a href="#">
          <img src="../img/image_02.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../img/image_02.png" alt="">
        </a>
      </li>
    </ul>
  </div>
  <!-- main area -->
  <main class="pr">
    <ul class="productShow clearfix pr" id="productShow">
      <li>
        <a href="#">
          <img src="../img/xiaomi.png" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../img/image_05.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../img/image_12.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../img/image_14.jpg" alt="">
        </a>
      </li>
    </ul>
    <!-- BEST SELLERS  -->
    <div class="bestSlect df-jcai-center">BEST SELLERS</div>
    <!-- products -->
    <div class="products">
      <ul class="productsShow clearfix">
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../img/image_18.jpg" alt="">
            <p>Xiaomi Note 4X</p>
          </a>
        </li>


      </ul>
    </div>
    <!-- loadMore -->
    <div class="loadMoreBox df-jcai-center">
      <div class="loadMore">
        <span class="loadMoreC">Load More +</span>
      </div>
    </div>
    <!-- backupTOP -->
    <a class="toUpArrows" id="to-Top">
        <img src="../img/toUp.png" alt="">
    </a>
  </main>

  <!--引入尾部文件  -->
  <!--<div>
    <iframe align="center" width="100%" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>-->

  <footer class="footer">
    <section class="wrap">
      <section class="clearfix">
        <section class="fl footer_leftPart">
          <h2 class="footer_title">SUBSCRIBE</h2>
          <p>Be the first to know about our latest products.</p>
          <form class="clearfix">
            <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
            <button type="button" class="btn_submit fr">Subscribe</button>
          </form>
          <section class="icon_list">
            <a href="javascript: void(0);" target="_blank" class="fb"></a>
            <a href="javascript: void(0);" target="_blank" class="gg"></a>
            <a href="javascript: void(0);" target="_blank" class="In"></a>
            <a href="javascript: void(0);" target="_blank" class="You"></a>
            <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
            <a href="javascript: void(0);" target="_blank" class="pp"></a>
            <a href="javascript: void(0);" target="_blank" class="tt"></a>
          </section>
          <p class="msg">Email: anny@banggood.com</p>
          <p class="msg">Tel: +8612345678</p>
        </section>
        <section class="fr footer_rightPart">

          <dl class="fl">
            <dt>ABOUT</dt>
            <dd><a href="javascript: void(0)">Our Guarantees</a></dd>
            <dd><a href="javascript: void(0)">Order Tracking</a></dd>
            <dd><a href="javascript: void(0)">Points & Coupons</a></dd>
            <dd><a href="javascript: void(0)">New User Guide</a></dd>
            <dd><a href="javascript: void(0)">Frequently Asked Questions</a></dd>
          </dl>
          <dl class="fl">
            <dt>SUPPORT</dt>
            <dd><a href="javascript: void(0)">Our Guarantees</a></dd>
            <dd><a href="javascript: void(0)">Order Tracking</a></dd>
            <dd><a href="javascript: void(0)">Points & Coupons</a></dd>
            <dd><a href="javascript: void(0)">New User Guide</a></dd>
            <dd><a href="javascript: void(0)">Frequently Asked Questions</a></dd>
          </dl>

        </section>
      </section>
      <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
  </footer>




  <script src="../js/jquery.js"></script>
  <script src="../js/jquery.flexslider-min.js"></script>
  <script src="../js/jquery.SuperSlide.2.1.1.js"></script>
  <script src="../js/public.js"></script>
  <script src="../js/index.js"></script>
</body>

</html>