<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/productListDeatil.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main class="proLisDetailModule">
    <!-- 路径 -->
    <div class="titTop">
      <span>
        <a href="./index.html">Home&nbsp;&nbsp;</a> > </span>
      <span>
        <a href="#">Category Name&nbsp;&nbsp;</a> > </span>
      <span>
        <a href="#" class="d53333">Category Name&nbsp;&nbsp;</a>
      </span>
    </div>
    <!-- 销售区 -->
    <div class="proSell clearfix">
      <div class="topArea clearfix">
        <div class="leftSell fl">
          <div class="bigImg">
            <img src="../img/leftSellBig.png" alt="" id="img">
          </div>
          <div class="smallImg por">
            <ul id="imageGallery" class="clearfix porUp">
              <li class="selected">
                <a href="../img/leftSellBig.png">
                  <img src="../img/smallImg.png" alt="">
                </a>
              </li>
              <li>
                <a href="../img/1.jpg">
                  <img src="../img/1-small.jpg" alt="">
                </a>
              </li>
              <li>
                <a href="../img/leftSellBig.png">
                  <img src="../img/smallImg.png" alt="">
                </a>
              </li>
              <li>
                <a href="../img/leftSellBig.png">
                  <img src="../img/smallImg.png" alt="">
                </a>
              </li>
              <li>
                <a href="../img/leftSellBig.png">
                  <img src="../img/smallImg.png" alt="">
                </a>
              </li>
            </ul>

            <span class="arrow-left"></span>
            <span class="arrow-right"></span>

          </div>
        </div>
        <div class="rightSell fl">
          <div class="sellTitArea">
            <!-- 商品名称 -->
            <p class="tit">BlitzWolf&reg; BW-VR3 3D VR Glasses Virtual Reality Headset For 3.5-6.3 inch Mobile Phone</p>
            <!-- 商品评论 -->
            <div class="rev clearfix">
              <ul class="star fl">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <p class="reviews">4.2 (12 Customer Reviews)</p>
            </div>
          </div>
          <!-- 商品价格 -->
          <div class="priceArea">
            <span class="d53333">US$25.19</span>
            <span class="originPri">
              <del>US$25.19</del>
            </span>
          </div>
          <div class="proColor clearfix">
            <span class="type fl spec">Color:</span>
            <ul class="typeColor fl" id="typeColor">
              <li>
                <a href="../img/1.jpg">
                  <img src="../img/typeColor.png" alt="">
                </a>
              </li>
              <li>
                <a href="../img/1.jpg">
                  <img src="../img/typeColor.png" alt="">
                </a>
              </li>
              <li>
                <a href="../img/1.jpg">
                  <img src="../img/typeColor.png" alt="">
                </a>
              </li>
            </ul>
          </div>
          <div class="proType clearfix">
            <span class="type fl secon">Type:</span>
            <ul class="typeList fl">
              <li class="borderSpec">
                <span>Attribute Value</span>
              </li>
              <li>
                <span>Attribute Value</span>
              </li>
            </ul>
          </div>
          <div class="proChoose">
            <span class="type turnBlock">Choose your country:</span>
            <ul class="countryList clearfix">
              <li class="countrySelected borderSpec">United States</li>
              <li>United Kingdom</li>
              <li>Germany</li>
              <li>Japan</li>
              <li>Canada</li>
              <li>Canada</li>
              <li>...</li>
            </ul>
          </div>
          <div class="buyArea">
            <ul class="buyMethod clearfix">
              <li>
                <a href="#">Buy at Banggood</a>
              </li>
              <li>
                <a href="#">Buy at Amazon</a>
              </li>
              <li>
                <a href="#">Buy at eBay</a>
              </li>
            </ul>
          </div>
          <div class="freeArea">
            <span class="freeButton">
              <a href="#">Get it for Free!</a>
            </span>
            <span class="wish clearfix por">
              <i class="likeIt"></i>
              Add to wish List
            </span>
          </div>
          <ul class="websiteLink clearfix">
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 中间内容 -->
      <div class="middleShow">
        <div class="proToggle">
          <ul class="middleShowList clearfix">
            <li class="middleShowTit currentShow">Product description</li>
            <li class="middleShowTit">Reviews</li>
            <li class="middleShowTit">Related</li>
            <li class="middleShowTit">Specs & Download</li>
            <li class="middleShowTit">FAQ</li>
          </ul>
          <div class="currentShowArea clearfix">
            <div class="mainContent currentSelected">
              <div class="exhibitionArea">
                <ul class="exhibitionUl">
                  <li>
                    <img src="../img/image_41.png" alt="">
                  </li>
                  <li>
                    <img src="../img/image_42.png" alt="">
                  </li>
                </ul>
              </div>
            </div>
            <div class="mainContent"></div>
            <div class="mainContent">
              <p class="relatedTit">PRODUCT SPECIFICATION</p>
              <ul class="relatedList">
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>

              </ul>
              <p class="downLoad">DOWNLOADS</p>
              <div class="downloadBtn por">
                <a href="#"></a>
                <i></i>
                Product Specification
              </div>
            </div>
            <div class="mainContent"></div>
            <div class="mainContent">
              <p class="FAQtit">FAQ</p>
              <ul class="FAQaq">
                <li class="por">
                  <i></i>
                  what's new with these upgraded versions compared to the original?
                </li>
                <li class="por">
                  <i></i>
                  They must have updated their website because this comes up on their products page now and the old version is no longer listed.
                </li>
              </ul>
              <ul class="FAQaq">
                <li class="por">
                  <i></i>
                  what's new with these upgraded versions compared to the original?
                </li>
                <li class="por">
                  <i></i>
                  They must have updated their website because this comes up on their products page now and the old version is no longer listed.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- 下方内容 -->
      <div class="proListDetailBottomArea">
        <div class="relatedPro">
          <div class="relatedProContent">
            <div class="relatedProT">
              <p class="relatedProTit">
                RELATED PRODUCTS
              </p>
              <p class="relatedProDesc">
                You may also like these products
              </p>
            </div>
          </div>
          <ul class="relatedProShow clearfix">
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="customer">
          <div class="customerT">
            <div class="relatedProT">
              <p class="relatedProTit">
                CUSTOMER REVIEWS
              </p>
              <p class="relatedProDesc">
                Our trusted customer reviews from our storefront
              </p>
            </div>
          </div>
          <div class="reviewArea">
              <div class="rev clearfix">
                  <ul class="star fl">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <p class="reviews">4.2 (12 Customer Reviews)</p>
                </div>
          </div>

        </div>


      </div>
  </main>

  <div>
    <!--引入尾部文件  -->
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <script src="../js/jquery.js"></script>
  <script src="../js/productListDeatil.js"></script>
</body>

</html>