<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/jquery.jqzoom.css">
  <link rel="stylesheet" href="../css/productListDeatil.css">
</head>

<body>


  <!-- header -->
  <!-- <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div> -->
    <!--class名为index_header表明是首页导航, class名为other_header表明是非首页导航-->
    <nav class="header_box other_header wrap">
      <section class="wrap">
        <!-- <a href="/" class="logo fl"><img src="../images/logo_01.png"></a> -->
        <a href="/" class="logo fl"><img src="../images/logo.png"></a>
        <!-- <a href="/" class="logo fl"></a> -->
        <ul class="nav_bar fl">
          <!--针对m端下拉菜单 设置箭头提示-->
          <!--如有子元素，则父级添加class='menu_child'-->
          <li class="nLi menu_child">
            <a href="javascript:void(0);">Products</a><b></b>
            <!--下拉菜单-->
            <section class="menu_bg hide">
              <section class="wrap menu_box">
                <dl class="menu_list">
                  <dt class='menu_child'><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt class='menu_child'><a href="javascript: void(0)">Audio & Sounds</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
              </section>
            </section>
          </li>
          <li class="nLi">
            <a href="javascript:void(0);">Promotion</a><b></b>
            <!--下拉菜单-->
            <section class="menu_bg hide">
              <section class="wrap menu_box">
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Audio & Sounds</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                </dl>
                <dl class="menu_list">
                  <dt><a href="javascript: void(0)">Power</a></dt>
                  <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                  <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                  <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                  <dd><a href="javascript: void(0)">USB Hub</a></dd>
                </dl>
              </section>
            </section>
          </li>
          <li class="nLi"><a href="javascript:void(0);">Community</a><b></b></li>
          <li class="nLi"><a href="javascript:void(0);">Support</a><b></b></li>
        </ul>
        <section class="nav_user fr">
          <a href="javascript: void(0);" class="search"></a>
          <ul class="user_action fl">
            <li class="fl"><a href="javascript: void(0);" class="login">Login</a><b></b></li>
            <li class="fl line"></li>
            <li class="fl"><a href="javascript: void(0);" class="register">Register</a><b></b></li>
            <!--m端下拉菜单框-->
            <li class="navbar_toggle fl"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></li>
          </ul>
        </section>
      </section>
    </nav>
  <!-- main -->
  <main class="proLisDetailModule">
    <!-- titTop -->
    <div class="titTop">
      <div class="wrap">
        <span>
          <a href="./index.html">Home&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#">Category Name&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#" class="col-red">Category Name&nbsp;&nbsp;</a>
        </span>
      </div>
    </div>
    <!-- sellArea -->
    <div class="proSell clearfix">
      <div class="topArea wrap clearfix">
        <!-- leftArea -->
        <div class="leftSell fl">
          <div class="bigImg clearfix">
            <a href="../images/leftSellBig.png" class="jqzoom" rel='gal1'>
              <img src="../images/leftSellBig.png" alt="" id="img">
            </a>
          </div>
          <div class="smallImg pr">
            <div class="jCarouselLite">
                <ul id="imageGallery" class="clearfix">
                    <li class="selected">
                      <a class="zoomThumbActive" href="#" rel="{gallery: 'gal1', smallimage: '../images/leftSellBig.png',largeimage: '../images/leftSellBig.png'}">
                        <img src="../images/smallImg.png" alt="">
                      </a>
                    </li>
                    <li>
                        <a class="zoomThumbActive" href="#" rel="{gallery: 'gal1', smallimage: '../images/leftSellBig.png',largeimage: '../images/leftSellBig.png'}">
                          <img src="../images/smallImg.png" alt="">
                        </a>
                      </li>
                      <li>
                          <a class="zoomThumbActive" href="#" rel="{gallery: 'gal1', smallimage: '../images/leftSellBig.png',largeimage: '../images/leftSellBig.png'}">
                            <img src="../images/smallImg.png" alt="">
                          </a>
                        </li>
                        <li>
                            <a class="zoomThumbActive" href="#" rel="{gallery: 'gal1', smallimage: '../images/leftSellBig.png',largeimage: '../images/leftSellBig.png'}">
                              <img src="../images/smallImg.png" alt="">
                            </a>
                          </li>
                          <li>
                              <a class="zoomThumbActive" href="#" rel="{gallery: 'gal1', smallimage: '../images/leftSellBig.png',largeimage: '../images/leftSellBig.png'}">
                                <img src="../images/smallImg.png" alt="">
                              </a>
                            </li>
                            <li>
                                <a class="zoomThumbActive" href="#" rel="{gallery: 'gal1', smallimage: '../images/leftSellBig.png',largeimage: '../images/leftSellBig.png'}">
                                  <img src="../images/smallImg.png" alt="">
                                </a>
                              </li>

                    <!-- <li>
                      <a href="../images/leftSellBig.png">
                        <img src="../images/smallImg.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="../images/leftSellBig.png">
                        <img src="../images/smallImg.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="../images/leftSellBig.png">
                        <img src="../images/smallImg.png" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="../images/leftSellBig.png">
                        <img src="../images/smallImg.png" alt="">
                      </a>
                    </li>
                    <li>
                        <a href="../images/leftSellBig.png">
                          <img src="../images/smallImg.png" alt="">
                        </a>
                      </li> -->
                  </ul>
            </div>

            <span class="arrow-left"></span>
            <span class="arrow-right"></span>
          </div>
        </div>
        <!-- rightArea -->
        <div class="rightSell fl">
          <div class="rsMain">
            <div class="sellTitArea">
              <div class="goodsTit">
                <!-- goodsName -->
                <p class="tit">BlitzWolf&reg; BW-VR3 3D VR Glasses Virtual Reality Headset For 3.5-6.3 inch Mobile Phone</p>
                <!-- goodsRev -->
                <div class="rev clearfix">
                  <ul class="star  fl">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                  <p class="reviews">4.2 (12 Customer Reviews)</p>
                </div>
              </div>

            </div>
            <!-- goodsPrice -->
            <div class="priceArea">
              <span class="d53333">US$25.19</span>
              <span class="originPri">
                <del>US$25.19</del>
              </span>
            </div>
            <div class="proColor clearfix">
              <!-- colorSelect -->
              <span class="type fl spec">Color:</span>
              <ul class="typeColor fl" id="typeColor">
                <li>
                  <a href="../images/1.jpg">
                    <img src="../images/typeColor.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="../images/1.jpg">
                    <img src="../images/typeColor.png" alt="">
                  </a>
                </li>
                <li>
                  <a href="../images/1.jpg">
                    <img src="../images/typeColor.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
            <!-- typeSelect -->
            <div class="proType clearfix">
              <span class="type fl secon">Type:</span>
              <ul class="typeList fl">
                <li class="borderSpec">
                  <span>Attribute Value</span>
                </li>
                <li>
                  <span>Attribute Value</span>
                </li>
              </ul>
            </div>
            <!-- chooseCountry -->
            <div class="proChoose">
              <span class="type turnBlock">Choose your country:</span>
              <ul class="countryList clearfix">
                <li class="countrySelected borderSpec">
                  <span>United States</span>
                </li>
                <li>
                  <span>United Kingdom</span>
                </li>
                <li>
                  <span>Germany</span>
                </li>
                <li>
                  <span>Japan</span>
                </li>
                <li>
                  <span>Canada</span>
                </li>
                <li>
                  <span>Canada</span>
                </li>
                <li>
                  <span>...</span>
                </li>
              </ul>
            </div>
            <!-- plateformChoose -->
            <div class="buyArea">
              <ul class="buyMethod clearfix">
                <li>
                  <span>Buy at Banggood</span>
                  <a href="#"></a>
                </li>
                <li>
                  <span>Buy at Amazon</span>
                  <a href="#"></a>
                </li>
                <li>
                  <span>Buy at eBay</span>
                  <a href="#"></a>
                </li>
              </ul>
            </div>
            <div class="freeArea clearfix">
              <div class="freeButton fl">
                <span>Get it for Free!</span>
                <a href="#"></a>
              </div>

              <span class="wish clearfix pr">
                <i class="likeIt"></i>
                Add to wish List
              </span>
            </div>
            <!-- websiteLink -->
            <div class="icon_list_website">
              <a href="javascript: void(0);" target="_blank" class="fb"></a>
              <a href="javascript: void(0);" target="_blank" class="gg"></a>
              <a href="javascript: void(0);" target="_blank" class="In"></a>
              <a href="javascript: void(0);" target="_blank" class="You"></a>
              <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
              <a href="javascript: void(0);" target="_blank" class="pp"></a>
              <a href="javascript: void(0);" target="_blank" class="tt"></a>
          </div>
          </div>
        </div>
      </div>
      <!-- middleArea -->
      <div class="middleShow wrap">
        <div class="proToggle">
          <ul class="middleShowList clearfix">
            <li class="middleShowTit currentShow">Product description</li>
            <li class="middleShowTit review">Reviews</li>
            <li class="middleShowTit related">Related</li>
            <li class="middleShowTit">Specs & Download</li>
            <li class="middleShowTit">FAQ</li>
          </ul>
          <div class="currentShowArea clearfix">
            <div class="mainContent currentSelected">
              <div class="exhibitionArea">
                <ul class="exhibitionUl">
                  <li>
                    <img src="../images/image_41.png" alt="">
                  </li>
                  <li>
                    <img src="../images/image_42.png" alt="">
                  </li>
                </ul>
              </div>
            </div>
            <div class="mainContent"></div>
            <div class="mainContent"></div>
            <div class="mainContent">
              <p class="relatedTit">PRODUCT SPECIFICATION</p>
              <ul class="relatedList">
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>
                <li>
                  <dl class="clearfix">
                    <dt>Model</dt>
                    <dd>BW-F4</dd>
                  </dl>
                </li>

              </ul>
              <div class="downloadArea">
                  <p class="downLoad">DOWNLOADS</p>
                  <div class="downloadBtn pr">
                    <a href="#"></a>
                    <i></i>
                    Product Specification
                  </div>
              </div>

            </div>
           
            <div class="mainContent">
              <p class="FAQtit">FAQ</p>
              <ul class="FAQaq">
                <li class="pr">
                  <i></i>
                  what's new with these upgraded versions compared to the original?
                </li>
                <li class="pr">
                  <i></i>
                  They must have updated their website because this comes up on their products page now and the old version is no longer listed.
                </li>
              </ul>
              <ul class="FAQaq">
                <li class="pr">
                  <i></i>
                  what's new with these upgraded versions compared to the original?
                </li>
                <li class="pr">
                  <i></i>
                  They must have updated their website because this comes up on their products page now and the old version is no longer listed.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="proListDetailBottomArea wrap">

        <div class="relatedPro" id="related">
          <div class="relatedProContent">
            <div class="relatedProT">
              <p class="relatedProTit">
                RELATED PRODUCTS
              </p>
              <p class="relatedProDesc">
                You may also like these products
              </p>
            </div>
          </div>
          <ul class="relatedProShow clearfix">
            <li>
              <a href="#">
                <img src="../images/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../images/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../images/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../images/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="../images/image_18.jpg" alt="">
                <p>Xiaomi Note 4X</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="customer" id="review">
          <div class="relatedProT">
            <p class="relatedProTit">
              CUSTOMER REVIEWS
            </p>
            <p class="relatedProDesc">
              Our trusted customer reviews from our storefront
            </p>
          </div>
          <div class="reviewArea">
            <div class="revTit">
              <div class="rev clearfix vc">
                <ul class="star fl">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
                <p class="reviews spec_bold">4.2 (12 Customer Reviews)</p>
              </div>
            </div>
            <div class="revContent clearfix">
              <div class="revConLeft fl">
                <dl>
                  <dt class="name">Hanna</dt>
                  <dd class="datetime">2017-12-13 at Amazon.com</dd>
                </dl>
              </div>
              <div class="revConright fl">
                <div class="top">
                    <ul class="star clearfix">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    <p class="des">good product</p>
                </div>
                <div class="down">
                  <p class="des mui-ellipsis-3 pr">Dear customer,Global version 6GB 128GB support B1,B2,B3,B4,B5,B7,B8,B12,B13,B17,B18,B19,B20,B25,B26,B28,B29,B30,B38,B39,B40,B41.Thank you for your support                
                    <span class="hideBtn">hide</span> 
                  </p>
                  <span class="readMore">read more</span>
                  <!-- <div class="revImg pr">
                      <ul id="revSmImg" class="imgList">
                          <li>
                              <img src="../images/image_43.png" alt="">                     
                          </li>
                          <li>
                              <img src="../images/image_43.png" alt="">
                            </li>
                          <li><img src="../images/image_43.png" alt=""></li>
                          <li><img src="../images/image_43.png" alt=""></li>
                        </ul>
                        <div class="revbigImgArea">
                          <div class="blackArea">
                              <ul class="revbigImg clearfix">
                                  <li>
                                      <img src="../images/1.jpg" alt="">
                                  </li>
                                  <li>
                                      <img src="../images/image_24.jpg" alt="">
                                  </li>
                                  <li>
                                      <img src="../images/image_22.jpg" alt="">
                                  </li>
                                  <li>
                                      <img src="../images/image_34.jpg" alt="">
                                  </li>
                                </ul>
                                <span class="leftBtn"></span>
                                <span class="rightBtn"></span>
                                <span class="leftRotate"></span>
                                <span class="rightRotate"></span>
                          </div>
                          

                        </div>
                        <div class="greyArea"></div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="revContent clearfix">
              <div class="revConLeft fl">
                <dl>
                  <dt class="name">Hanna</dt>
                  <dd class="datetime">2017-12-13 at Amazon.com</dd>
                </dl>
              </div>
              <div class="revConright fl">
                <div class="top">
                    <ul class="star clearfix">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    <p class="des">good product</p>
                </div>
                <div class="down">
                  <p class="des mui-ellipsis-3 pr">Dear customer,Global version 6GB 128GB support B1,B2,B3,B4,B5,B7,B8,B12,B13,B17,B18,B19,B20,B25,B26,B28,B29,B30,B38,B39,B40,B41.Thank you for your support                
                    <span class="hideBtn">hide</span> 
                  </p>
                  <span class="readMore">read more</span>
                  <div class="revImg pr">
                      <ul  class="imgList">
                          <li>
                              <img src="../images/image_43.png" alt="">                     
                          </li>
                          <li>
                              <img src="../images/image_43.png" alt="">
                            </li>
                          <li><img src="../images/image_43.png" alt=""></li>
                          <li><img src="../images/image_43.png" alt=""></li>
                        </ul>
                        <div class="revbigImgArea">
                          <div class="blackArea">
                              <ul class="revbigImg clearfix">
                                  <li>
                                      <img src="../images/image_44.png" alt="">
                                  </li>
                                  <li>
                                      <img src="../images/image_24.jpg" alt="">
                                  </li>
                                  <li>
                                      <img src="../images/image_22.jpg" alt="">
                                  </li>
                                  <li>
                                      <img src="../images/image_34.jpg" alt="">
                                  </li>
                                </ul>
                                <span class="leftBtn"></span>
                                <span class="rightBtn"></span>
                                <span class="leftRotate"></span>
                                <span class="rightRotate"></span>
                          </div>
                          

                        </div>
                        <div class="greyArea"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="revPagenation">
              <a href="" class="num">1</a>
            </div>
          </div>

        </div>


      </div>
    </div>
  </main>

<!-- footer -->
<footer class="footer">
  <section class="wrap">
      <section class="clearfix">
          <section class="fl footer_leftPart">
              <h2 class="footer_title">SUBSCRIBE</h2>
              <p>Be the first to know about our latest products.</p>
              <form class="clearfix">
                  <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
                  <button type="button" class="btn_submit fr">Subscribe</button>
              </form>
              <section class="icon_list">
                  <a href="javascript: void(0);" target="_blank" class="fb"></a>
                  <a href="javascript: void(0);" target="_blank" class="gg"></a>
                  <a href="javascript: void(0);" target="_blank" class="In"></a>
                  <a href="javascript: void(0);" target="_blank" class="You"></a>
                  <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
                  <a href="javascript: void(0);" target="_blank" class="pp"></a>
                  <a href="javascript: void(0);" target="_blank" class="tt"></a>
              </section>
              <p class="msg">Email: anny@banggood.com</p>
              <p class="msg">Tel: +8612345678</p>
          </section>
          <section class="fr footer_rightPart">

              <dl class="fl">
                  <dt>ABOUT</dt>
                  <dd><a href="javascript: void(0)">Our Guarantees</a></dd>
                  <dd><a href="javascript: void(0)">Order Tracking</a></dd>
                  <dd><a href="javascript: void(0)">Points & Coupons</a></dd>
                  <dd><a href="javascript: void(0)">New User Guide</a></dd>
                  <dd><a href="javascript: void(0)">Frequently Asked Questions</a></dd>
              </dl>
              <dl class="fl">
                  <dt>SUPPORT</dt>
                  <dd><a href="javascript: void(0)">Our Guarantees</a></dd>
                  <dd><a href="javascript: void(0)">Order Tracking</a></dd>
                  <dd><a href="javascript: void(0)">Points & Coupons</a></dd>
                  <dd><a href="javascript: void(0)">New User Guide</a></dd>
                  <dd><a href="javascript: void(0)">Frequently Asked Questions</a></dd>
              </dl>

          </section>
      </section>
      <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
  </section>
</footer>
<!-- jq多库共存 -->
<script src="../js/jquery-1.5.js"></script>
<script src="../js/jquery.jqzoom-core.js"></script>
<!-- important robyn_warning:don't delete this code -->
<script type="text/javascript">  
  var $15 = $;//新的命名  
</script>

<script src="../js/jquery.js"></script>
  <script src="../js/jquery.jcarousellite.min.js"></script>
  <script src="../js/productListDeatil.js"></script>
</body>

</html>