<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/productRegestCenter.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <!--引入尾部文件  -->
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main>
    <div class="solve">
      <div class="par1 par">
        <p class="tit">Do you like free stuff?</p>
        <p>
          If you love cycling outdoors and testing new products,you'll want to try out a free sample from us.
          <br> We are committed to contunuous improvement and our Super User Program is a great way for us to hear from you and
          to learn how we can do better.
        </p>
      </div>
      <div class="par2 par">
        <p class="tit">How to participate?</p>
        <ul>
          <li>1.Login(sign up first if you haven't) and apply one of our products on the Super User page</li>
          <li>2.Fill out and submit the submission form</li>
          <li>3.Wait for your application to be reviewed</li>
          <li>4.Wait for our decision by email</li>
          <li>5.Wait for your free sample to arrive(if your application has been approved)</li>
          <li>6.Post your honest and unbiased feedback</li>
        </ul>
      </div>
      <div class="par3 par">
        <p class="tit tit2">Join us!</p>
        <p>Sign up and apply a free sample now.</p>
      </div>
    </div>
    <div class="registProduct">
      <div class="titBox">
        <p class="tit">REGISTER YOUR PRODUCTS</p>
        <p class="content">You need to log in first to continue</p>
      </div>

      <div class="orderArea">
        <form action="">
          <div class="order">
            <div class="message">
              Purchase Order
              <span class="spec">*</span>
            </div>
            <input type="text" placeholder="ex:123-1234-1244">
          </div>
          <div class="warn">
            <input class="sel" type="checkbox" name="warning" /> I don't have a Purchase Order (not recommended)
          </div>
          <div class="order phone">
            <div class="message">
              Phone:
            </div>
            <input type="text">
          </div>
          <div class="order country">
            <div class="message">
              Country
              <span class="spec">*</span>
            </div>

            <select class="countrySel">
              <option>Please select</option>
              <option>河北</option>
              <option>河南</option>
              <option>山东</option>
              <option>山西</option>
              <option>湖北</option>
              <option>安徽</option>
            </select>
          </div>
          <button class="sub">Submit</button>
        </form>
      </div>

    </div>
  </main>

  <!--引入尾部文件  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>
</body>

</html>