<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/productListType.css">
</head>

<body>
  <!-- header -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>
  <!-- main -->
  <main class="proLisTypeModule">
    <!-- main top -->
    <div class="titTop">
      <div class="wrap">
        <span>
          <a href="./index.html">Home&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#">Category Name&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#" class="col-red">Category Name&nbsp;&nbsp;</a>
        </span>
      </div>
    </div>
    <!-- top img -->
    <div class="proShow">
      <img src="../img/image_40.png" alt="">
    </div>
    <!-- category -->
    <div class="proCategory df-jcai-center">CATEGORY NAME</div>
    <!-- main Show -->
    <div class="detailAll">
      <!-- tab toggle -->
      <div class="ProWrapper wrap">
        <div class="pr clearfix">
          <!-- title -->
          <ul class="proTab clearfix">
            <li class="tab-list active">Qualcomm Wall Chargers</li>
            <li class="tab-list">Wall chargers</li>
            <li class="tab-list">Wireless Chargers</li>
          </ul>
          <!-- selectBox -->
          <div class="select-box">
            <div class="select-header clearfix">Newest</div>
            <ul class="select-content">
              <li>Newest</li>
              <li>Most Reviews</li>
              <li>Low Price
                <i class="lowPrice"></i>
              </li>
              <li>High Price
                <i class="highPrice"></i>
              </li>
            </ul>
          </div>
        </div>
        <!-- toggleContent -->
        <div class="proT clearfix pr">
          <ul class="productsShow clearfix selected">
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix">
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../img/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
          </ul>
          <ul class="productsShow test">

          </ul>
          <ul class="productsShow test test02">

          </ul>

        </div>

      </div>
    </div>
    <!-- backupTOP -->
    <a class="toUpArrows" id="to-Top">
      <img src="../img/toUp.png" alt="">
    </a>
  </main>
  <!--Footer  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>


  <script src="../js/jquery.js"></script>
  <script src="../js/productListType.js"></script>
</body>

</html>