<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/productListType.css">
</head>

<body>
  <!-- header -->
  <!-- <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div> -->
  <nav class="header_box other_header wrap">
    <section class="wrap">
      <a href="/" class="logo fl"><img src="../images/logo.png"></a>
      <ul class="nav_bar fl">
        <!--针对m端下拉菜单 设置箭头提示-->
        <!--如有子元素，则父级添加class='menu_child'-->
        <li class="nLi menu_child">
          <a href="javascript:void(0);">Products</a><b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt class='menu_child'><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt class='menu_child'><a href="javascript: void(0)">Audio & Sounds</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Promotion</a><b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Audio & Sounds</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
              </dl>
              <dl class="menu_list">
                <dt><a href="javascript: void(0)">Power</a></dt>
                <dd><a href="javascript: void(0)">iPhone MFI Battery Case</a></dd>
                <dd><a href="javascript: void(0)">Wireless Charger</a></dd>
                <dd><a href="javascript: void(0)">Portable Charger</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
                <dd><a href="javascript: void(0)">USB Hub</a></dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi"><a href="javascript:void(0);">Community</a><b></b></li>
        <li class="nLi"><a href="javascript:void(0);">Support</a><b></b></li>
      </ul>
      <section class="nav_user fr">
        <a href="javascript: void(0);" class="search"></a>
        <ul class="user_action fl">
          <li class="fl"><a href="javascript: void(0);" class="login">Login</a><b></b></li>
          <li class="fl line"></li>
          <li class="fl"><a href="javascript: void(0);" class="register">Register</a><b></b></li>
          <!--m端下拉菜单框-->
          <li class="navbar_toggle fl"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></li>
        </ul>
      </section>
    </section>
  </nav>
  <!-- main -->
  <main class="proLisTypeModule">
    <!-- main top -->
    <div class="titTop">
      <div class="wrap">
        <span>
          <a href="./index.html">Home&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#">Category Name&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#" class="col-red">Category Name&nbsp;&nbsp;</a>
        </span>
      </div>
    </div>
    <!-- top img -->
    <div class="proShow">
      <img src="../images/image_40.png" alt="">
    </div>
    <!-- category -->
    <div class="proCategory df-jcai-center">CATEGORY NAME</div>
    <!-- main Show -->
    <div class="detailAll">
      <!-- tab toggle -->
      <div class="ProWrapper wrap">
        <div class="pr clearfix">
          <!-- title -->
          <ul class="proTab clearfix">
            <li class="tab-list active"><a href="#">Qualcomm Wall Chargers</a></li>
            <li class="tab-list"><a href="#">Wall chargers</a></li>
            <li class="tab-list"><a href="#">Wireless Chargers</a></li>
          </ul>
          <!-- selectBox -->
          <div class="select-box">
            <div class="select-header clearfix">Newest</div>
            <ul class="select-content">
              <li>Newest</li>
              <li>Most Reviews</li>
              <li>Low Price
                <i class="lowPrice"></i>
              </li>
              <li>High Price
                <i class="highPrice"></i>
              </li>
            </ul>
          </div>
        </div>
        <!-- toggleContent -->
        <div class="proT clearfix pr">
          <ul class="productsShow clearfix selected">
            <li class="pr">
              <a href="#" class="proTypeBigImg">
                <img src="../images/image_18.jpg" alt="">
              </a>
              <ul class="smallImg clearfix imgTab">
                <li class="selected">         
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>         
                    <img src="../images/smallImg.png" alt="">
                  </li>
                  <li>         
                      <img src="../images/smallImg.png" alt="">
                    </li>

         
              </ul>
              <a href="#" title="Xiaomi Note 4X Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores eligendi odit! Itaque iste ea cum, modi nisi quidem, quaerat ab quam quis ipsam quae! Eos officiis similique doloribus quaerat.">
                <p>Xiaomi Note 4X Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores eligendi odit! Itaque iste
                  ea cum, modi nisi quidem, quaerat ab quam quis ipsam quae! Eos officiis similique doloribus quaerat.</p>
              </a>
              <span class="price">US $25.19</span>
            </li>          
          </ul>
        </div>

      </div>
      <!-- pagination -->
      <div class="pagination wrap pr">
        <div class="pagSelect">
            <a href="#" class="prev"></a>
            <a href="#" class="num current">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">...</a>
            <a href="#" class="next"></a>
        </div>

      </div>
    </div>
    <!-- backupTOP -->
    <a class="toUpArrows" id="to-Top">
      <img src="../images/toUp.png" alt="">
    </a>
  </main>
  <!--Footer  -->
  <!-- <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div> -->
<footer class="footer">
    <section class="wrap">
        <section class="clearfix">
            <section class="fl footer_leftPart">
                <h2 class="footer_title">SUBSCRIBE</h2>
                <p>Be the first to know about our latest products.</p>
                <form class="clearfix">
                    <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
                    <button type="button" class="btn_submit fr">Subscribe</button>
                </form>
                <section class="icon_list">
                    <a href="javascript: void(0);" target="_blank" class="fb"></a>
                    <a href="javascript: void(0);" target="_blank" class="gg"></a>
                    <a href="javascript: void(0);" target="_blank" class="In"></a>
                    <a href="javascript: void(0);" target="_blank" class="You"></a>
                    <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
                    <a href="javascript: void(0);" target="_blank" class="pp"></a>
                    <a href="javascript: void(0);" target="_blank" class="tt"></a>
                </section>
                <p class="msg">Email: anny@banggood.com</p>
                <p class="msg">Tel: +8612345678</p>
            </section>
            <section class="fr footer_rightPart">

                <dl class="fl">
                    <dt>ABOUT</dt>
                    <dd><a href="javascript: void(0)">Our Guarantees</a></dd>
                    <dd><a href="javascript: void(0)">Order Tracking</a></dd>
                    <dd><a href="javascript: void(0)">Points & Coupons</a></dd>
                    <dd><a href="javascript: void(0)">New User Guide</a></dd>
                    <dd><a href="javascript: void(0)">Frequently Asked Questions</a></dd>
                </dl>
                <dl class="fl">
                    <dt>SUPPORT</dt>
                    <dd><a href="javascript: void(0)">Our Guarantees</a></dd>
                    <dd><a href="javascript: void(0)">Order Tracking</a></dd>
                    <dd><a href="javascript: void(0)">Points & Coupons</a></dd>
                    <dd><a href="javascript: void(0)">New User Guide</a></dd>
                    <dd><a href="javascript: void(0)">Frequently Asked Questions</a></dd>
                </dl>

            </section>
        </section>
        <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
</footer>

  <script src="../js/jquery.js"></script>
  <script src="../js/productListType.js"></script>
</body>

</html>