<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/productListType.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main class="proLisTypeModule">
    <div class="titTop">
      <span><a href="./index.html">Home&nbsp;&nbsp;</a> > </span>
      <span><a href="#">Category Name&nbsp;&nbsp;</a> > </span>
      <span><a href="#" class="d53333">Category Name&nbsp;&nbsp;</a></span>
    </div>
    <div class="proShow">
      <img src="../img/image_40.png" alt="">
    </div>
    <div class="detailAll">
      <div class="detail">
        <p class="detailTit">CATEGORY NAME</p>
      </div>
      <!-- tab栏目切换 -->
      <div class="ProWrapper">
        <!-- 标题 -->
        <div class="por clearfix">
          <ul class="proTab clearfix">
            <li class="tab-list active">Qualcomm Wall Chargers</li>
            <li class="tab-list">Wall chargers</li>
            <li class="tab-list">Wireless Chargers</li>
          </ul>
          <div class="select-box">
            <div class="select-header clearfix">Newest</div>
            <ul class="select-content">
              <li>Newest</li>
              <li>Most Reviews</li>
              <li>Low Price
                <i class="lowPrice"></i>
              </li>
              <li>High Price
                <i class="highPrice"></i>
              </li>
            </ul>
          </div>
        </div>

        <!-- 下方展示内容 -->
        <div class="proT clearfix">
          <ul class="productsShow selected">
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>
            <li>
              <a href="#">
                <img src="../img/image_18.jpg" alt="">
              </a>
              <div class="smallImg">
                <div class="smallImgDetail clearfix">
                  <div class="smallImage img01">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img02">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img03">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                  <div class="smallImage img04">
                    <img src="../img/smallImg.png" alt="">
                  </div>
                </div>
              </div>
              <p>Xiaomi Note 4X</p>
              <span class="price">US $25.19</span>
            </li>


          </ul>
          <ul class="productsShow test">

          </ul>
          <ul class="productsShow test test02">

          </ul>
          <!-- 返回顶部 -->
          <div class="toUpArrows" id="to-Top">
            <a>
              <img src="../img/toUp.png" alt="">
            </a>
          </div>
        </div>

      </div>
    </div>
  </main>


  <!--引入尾部文件  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>


  <script src="../js/jquery.js"></script>
  <script src="../js/productListType.js"></script>
</body>

</html>