<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/registerForgotPwd.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main class="fogetModule">
    <div class="fogetArea">
      <p class="tit">Retrieve Password</p>
      <p class="warningMessage">Please enter your email address below.You will receive a link to reset your pass-word.</p>
      <form action="">
        <div class="form-group">
          <!-- <label for="email">Email address*</label> -->
          <input type="email" name="email" id="email" placeholder="Email address*">
        </div>
        <p class="pro">This email address has not been registered.</p>
        <button class="sub">Submit</button>
        <a href="#" class="cancel">< Cancel</a>
      </form>

    </div>
  </main>

  <!--引入尾部文件  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

</body>

</html>