<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/registerLogin.css">
</head>

<body>

  <!-- import header -->
  <nav class="header_box other_header wrap">
    <section class="wrap">
      <a href="/" class="logo fl">
        <img src="../images/logo.png">
      </a>
      <ul class="nav_bar fl">
        <!--针对m端下拉菜单 设置箭头提示-->
        <!--如有子元素，则父级添加class='menu_child'-->
        <li class="nLi menu_child">
          <a href="javascript:void(0);">Products</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Promotion</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Community</a>
          <b></b>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Support</a>
          <b></b>
        </li>
      </ul>
      <section class="nav_user fr">
        <a href="javascript: void(0);" class="search"></a>
        <ul class="user_action fl">
          <li class="fl">
            <a href="javascript: void(0);" class="login">Login</a>
            <b></b>
          </li>
          <li class="fl line"></li>
          <li class="fl">
            <a href="javascript: void(0);" class="register">Register</a>
            <b></b>
          </li>
          <!--m端下拉菜单框-->
          <li class="navbar_toggle fl">
            <span class="icon_line"></span>
            <span class="icon_line"></span>
            <span class="icon_line"></span>
          </li>
        </ul>
      </section>
    </section>
  </nav>
  <!-- import header end -->


  <!-- main area start -->
  <main class="loginModule wrap">
    <div class="loginArea login">
      <p class="tit">Welcome Back</p>
      <form action="" id="frmLogin">
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Email address*">
        </div>
        <div class="form-group">
          <input type="password" name="pwd" id="pwd" placeholder="Password*">
        </div>
        <div class="form-group loginVer v_code">
          <input type="captcha" placeholder="Verification Code*">
          <div class="veriCode">
            <a href="javascript:;">
              <img src="../images/veriCode.png" alt="">
            </a>
          </div>
        </div>
        <div class="operation">
          <div class="fogotBottom pr">
            <span>
              <a href="#">Forgot your password?</a>
            </span>
            <span class="inputBox">
              <input class="check" type="checkbox" name="is_remember" checked="checked" value="1" /> Remember Me
            </span>
          </div>
          <button class="sign">Sign In</button>
          <button class="sub">
            <a href="javascript:;">Sign Up</a>
          </button>

        </div>
      </form>
      <div class="other pr">
        <p class="head">
          <span>OR</span>
        </p>
        <div class="otherLogo">
          <div class="facebook">
            <a href="#"></a>
          </div>
          <div class="goo">
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- main area end -->

  <!--import footer   -->
  <footer class="footer">
    <section class="wrap">
      <section class="clearfix">
        <section class="fl footer_leftPart">
          <h2 class="footer_title">SUBSCRIBE</h2>
          <p>Be the first to know about our latest products.</p>
          <form class="clearfix">
            <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
            <button type="button" class="btn_submit fr">Subscribe</button>
          </form>
          <section class="icon_list">
            <a href="javascript: void(0);" target="_blank" class="fb"></a>
            <a href="javascript: void(0);" target="_blank" class="gg"></a>
            <a href="javascript: void(0);" target="_blank" class="In"></a>
            <a href="javascript: void(0);" target="_blank" class="You"></a>
            <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
            <a href="javascript: void(0);" target="_blank" class="pp"></a>
            <a href="javascript: void(0);" target="_blank" class="tt"></a>
          </section>
          <p class="msg">Email: anny@banggood.com</p>
          <p class="msg">Tel: +8612345678</p>
        </section>
        <section class="fr footer_rightPart">

          <dl class="fl">
            <dt>ABOUT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>
          <dl class="fl">
            <dt>SUPPORT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>

        </section>
      </section>
      <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
  </footer>
  <!--import footer end  -->
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery-validate.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>