<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/registerCancelSubSuccess.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main class="regCancelSubSuccess">
    <div class="regContentBox">
      <div class="regTit">We're sad to see you go...</div>
      <div class="regContent">
        <p>You've been successfully unsubscribed from all future marketing emails from 
          </p>
          <p class="d53333">http://www.outerdo.com/index.php?</p>
          <p>Please allow up to 2 weeks for the changes to take effect</p>
      </div>
    </div>
  </main>

  <!--引入尾部文件  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>
</body>

</html>