<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- 引入重置样式 -->
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/registerSuccess.css">
</head>

<body>
  <!-- 引入头部 -->
  <div>
    <iframe align="center" width="100%" height="80px" src="./header.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

  <main class="regSucModule">
    <div class="regSucArea">
      <p class="tit">Activate Your Account</p>
      <p class="par1">Thank you for registering with us.</p>
      <p class="par2">Email verfication link has been sent to
        <span class="email">anny@banggood.com</span>
        <br> please click on the verification link recevied in your email to active your account
      </p>
      <p class="par3">Note: Check your spam folder to make sure it didn't end up there</p>
      <div class="click">
        <p class="pro">Resend successfully.</p>
        <button class="sub">Resend the Email</button>
        <button class="sign">Sign In</button>
      </div>


    </div>
  </main>

  <!--引入尾部文件  -->
  <div>
    <iframe align="center" width="100%" height="440" src="./footer.html" frameborder="no" border="0" marginwidth="0" marginheight="0"
      scrolling="no"></iframe>
  </div>

</body>

</html>