<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/testCommonCenter.css">
</head>

<body>
  <!-- header -->
  <nav class="header_box other_header wrap">
    <section class="wrap">
      <a href="/" class="logo fl">
        <img src="../images/logo.png">
      </a>
      <ul class="nav_bar fl">
        <!--针对m端下拉菜单 设置箭头提示-->
        <!--如有子元素，则父级添加class='menu_child'-->
        <li class="nLi menu_child">
          <a href="javascript:void(0);">Products</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Promotion</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Community</a>
          <b></b>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Support</a>
          <b></b>
        </li>
      </ul>
      <section class="nav_user fr">
        <a href="javascript: void(0);" class="search"></a>
        <ul class="user_action fl">
          <li class="fl">
            <a href="javascript: void(0);" class="login">Login</a>
            <b></b>
          </li>
          <li class="fl line"></li>
          <li class="fl">
            <a href="javascript: void(0);" class="register">Register</a>
            <b></b>
          </li>
          <!--m端下拉菜单框-->
          <li class="navbar_toggle fl">
            <span class="icon_line"></span>
            <span class="icon_line"></span>
            <span class="icon_line"></span>
          </li>
        </ul>
      </section>
    </section>
  </nav>
  <!-- header end -->


  <main class="tc">
    <!-- tc-header -->
    <div class="tc-header">
      <img src="../images/testCenter.jpg" alt="">
    </div>
    <!-- tc-header end -->

    <!-- tc-middle-top -->
    <div class="solve wrap">
      <div class="par1 par">
        <p class="tit">Do you like free stuff?</p>
        <p>
          If you love cycling outdoors and testing new products,you'll want to try out a free sample from us.
          <br> We are committed to contunuous improvement and our Super User Program is a great way for us to hear from you and
          to learn how we can do better.
        </p>
      </div>
      <div class="par2 par">
        <p class="tit">How to participate?</p>
        <ul>
          <li>1.Login(sign up first if you haven't) and apply one of our products on the Super User page</li>
          <li>2.Fill out and submit the submission form</li>
          <li>3.Wait for your application to be reviewed</li>
          <li>4.Wait for our decision by email</li>
          <li>5.Wait for your free sample to arrive(if your application has been approved)</li>
          <li>6.Post your honest and unbiased feedback</li>
        </ul>
      </div>
      <div class="par3 par">
        <p class="tit tit2">Join us!</p>
        <p>Sign up and apply a free sample now.</p>
      </div>
    </div>
    <!-- tc-middle-top end -->

    <!-- tc-middle -->
    <div class="products wrap">
      <div class="main">
        <ul class="showMoreNChildren clearfix">
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>

          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>
          <li>
            <img src="../images/image_39.png" alt="">
            <div class="hideBox">
              <div class="message">
                <a href="#">
                  <p class="block-with-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repudiandae nulla consectetur excepturi, inventore
                    hic dolor ratione reiciendis magni amet? Labore fugiat delectus veritatis vero dignissimos dolorem quia
                    voluptatum molestiae?</p>
                </a>
                <div class="apply-btn">Apply</div>
              </div>
            </div>
          </li>


        </ul>
      </div>

    </div>
    <!-- tc-middle end -->
    <div class="ts-pop">
      <div class="ts-grey"></div>
      <div class="ts-content">
        <p>Sorry,need to verify your email address firstly.We have sent you a verification email,please view your inbox and verfy your email address!Then,come back here and apply for it again.</p>
        <div class="ok">OK</div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer class="footer">
    <section class="wrap">
      <section class="clearfix">
        <section class="fl footer_leftPart">
          <h2 class="footer_title">SUBSCRIBE</h2>
          <p>Be the first to know about our latest products.</p>
          <form class="clearfix">
            <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
            <button type="button" class="btn_submit fr">Subscribe</button>
          </form>
          <section class="icon_list">
            <a href="javascript: void(0);" target="_blank" class="fb"></a>
            <a href="javascript: void(0);" target="_blank" class="gg"></a>
            <a href="javascript: void(0);" target="_blank" class="In"></a>
            <a href="javascript: void(0);" target="_blank" class="You"></a>
            <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
            <a href="javascript: void(0);" target="_blank" class="pp"></a>
            <a href="javascript: void(0);" target="_blank" class="tt"></a>
          </section>
          <p class="msg">Email: anny@banggood.com</p>
          <p class="msg">Tel: +8612345678</p>
        </section>
        <section class="fr footer_rightPart">

          <dl class="fl">
            <dt>ABOUT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>
          <dl class="fl">
            <dt>SUPPORT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>

        </section>
      </section>
      <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
  </footer>

  <script src="../js/jquery.js"></script>
  <script src="../js/testCommonCenter.js"></script>
</body>

</html>