<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/basic.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/jquery.searchableSelect.css">
  <link rel="stylesheet" href="../css/userCenter.css">
</head>

<body>
  <!-- header -->
  <nav class="header_box other_header wrap">
    <section class="wrap">
      <a href="/" class="logo fl">
        <img src="../images/logo.png">
      </a>
      <ul class="nav_bar fl">
        <!--针对m端下拉菜单 设置箭头提示-->
        <!--如有子元素，则父级添加class='menu_child'-->
        <li class="nLi menu_child">
          <a href="javascript:void(0);">Products</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt class='menu_child'>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Promotion</a>
          <b></b>
          <!--下拉菜单-->
          <section class="menu_bg hide">
            <section class="wrap menu_box">
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Audio & Sounds</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
              </dl>
              <dl class="menu_list">
                <dt>
                  <a href="javascript: void(0)">Power</a>
                </dt>
                <dd>
                  <a href="javascript: void(0)">iPhone MFI Battery Case</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Wireless Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">Portable Charger</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
                <dd>
                  <a href="javascript: void(0)">USB Hub</a>
                </dd>
              </dl>
            </section>
          </section>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Community</a>
          <b></b>
        </li>
        <li class="nLi">
          <a href="javascript:void(0);">Support</a>
          <b></b>
        </li>
      </ul>
      <section class="nav_user fr">
        <a href="javascript: void(0);" class="search"></a>
        <ul class="user_action fl">
          <li class="fl">
            <a href="javascript: void(0);" class="login">Login</a>
            <b></b>
          </li>
          <li class="fl line"></li>
          <li class="fl">
            <a href="javascript: void(0);" class="register">Register</a>
            <b></b>
          </li>
          <!--m端下拉菜单框-->
          <li class="navbar_toggle fl">
            <span class="icon_line"></span>
            <span class="icon_line"></span>
            <span class="icon_line"></span>
          </li>
        </ul>
      </section>
    </section>
  </nav>
  <!-- main -->
  <main class="userCenter wrap clearfix">
    <!-- top path -->
    <div class="titTop">
      <div class="wrap">
        <span>
          <a href="./index.html">Home&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#">Category Name&nbsp;&nbsp;</a> > </span>
        <span>
          <a href="#" class="col-red">Category Name&nbsp;&nbsp;</a>
        </span>
      </div>
    </div>
    <!-- top path end -->

    <!-- left area start -->
    <div class="userLeft clearfix">
      <div class="leftTop colorWhite">
        <div class="userImg">
          <img src="../images/user.png" alt="">
        </div>
        <p class="userName">Sandy BG</p>
        <ul class="clearfix info">
          <li>
            <a href="#">15</a>
            <span>Reviews</span>
          </li>
          <li>
            <a href="#">15</a>
            <span>Products</span>
          </li>
        </ul>
      </div>
      <div class="leftBottom colorWhite">
        <ul class="infoSelect clearfix">
          <li>My Products</li>
          <li>Wishlist</li>
          <li class="selected">My Profile</li>
          <li>Messages</li>
          <li>Super User</li>
        </ul>
      </div>
    </div>
    <!-- left area end -->

    <!-- right area start -->
    <div class="userRight colorWhite">
      <ul class="exhibition">
        <!-- My product start -->
        <li>
          <div class="tit colorD533">
            <div class="colorD533 w95">My Products</div>
          </div>
          <!-- prolistTit -->
          <div class="w95 prolistTit clearfix pub">
            <span class="num color333">No.</span>
            <span class="OrderNum color333">Order No.</span>
            <span class="pro color333">Product</span>
            <span class="coupon color333">Coupon</span>
            <span class="reg color333">Register Date</span>
            <span class="sta color333">Status</span>
          </div>
          <!-- prolistTit end -->
          <div class="w95 pub clearfix prolistContent">
            <span class="num">23</span>
            <span class="OrderNum">13-468-987</span>
            <span class="pro">
              <img src="../images/image_45.png" alt="">
            </span>
            <span class="coupon">120 bx1</span>
            <span class="reg">Aug 03 2016</span>
            <span class="sta">Pending</span>
          </div>

          <div class="w95 pub clearfix prolistContent">
            <span class="num">23</span>
            <span class="OrderNum">13-468-987</span>
            <span class="pro">
              <img src="../images/image_45.png" alt="">
            </span>
            <span class="coupon">120 bx1</span>
            <span class="reg">Aug 03 2016</span>
            <span class="sta">Pending</span>
          </div>

          <div class="w95 pub clearfix prolistContent">
            <span class="num">23</span>
            <span class="OrderNum">13-468-987</span>
            <span class="pro">
              <img src="../images/image_45.png" alt="">
            </span>
            <span class="coupon">120 bx1</span>
            <span class="reg">Aug 03 2016</span>
            <span class="sta">Pending</span>
          </div>

          <!-- pagenation -->
          <div class="pagination pr">
            <div class="pagSelect clearfix">
              <a href="#" class="prev"></a>
              <a href="#" class="num currentPage">1</a>
              <a href="#" class="num">2</a>
              <a href="#" class="num">3</a>
              <a href="#" class="num">...</a>
              <a href="#" class="num">10</a>
              <a href="#" class="next"></a>
            </div>
          </div>

          <!-- when have None product -->
          <div class="noPro">
            <p>You have not registered any products yet.</p>
            <p>click to register your product and gain coupon right away !</p>
            <div class="addBtn">
              <a href="#">
                Add Product
              </a>
            </div>
          </div>
        </li>
        <!-- My product end -->

        <!-- My Wishlist -->
        <li>
          <div class="tit colorD533">
            <div class="colorD533 w95">My Wishlist</div>
          </div>

          <ul class="wishlistDetail clearfix">

            <li class="pr wishDel">
              <img src="../images/image_18.jpg" alt="">
              <ul class="smallImg clearfix imgTab">
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores eligendi odit! Itaque
                iste ea cum, modi nisi quidem, quaerat ab quam quis ipsam quae! Eos officiis similique doloribus quaerat.
              </p>
              <span class="price">US $25.19</span>
              <div class="buyIt">
                <span class="del"></span>
                <div class="buyBtn">
                  <a href="#">Buy</a>
                </div>
              </div>
            </li>

            <li class="pr wishDel">
              <img src="../images/image_18.jpg" alt="">
              <ul class="smallImg clearfix imgTab">
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores eligendi odit! Itaque
                iste ea cum, modi nisi quidem, quaerat ab quam quis ipsam quae! Eos officiis similique doloribus quaerat.
              </p>
              <span class="price">US $25.19</span>
              <div class="buyIt">
                <span class="del"></span>
                <div class="buyBtn">
                  <a href="#">Buy</a>
                </div>
              </div>
            </li>

            <li class="pr wishDel">
              <img src="../images/image_18.jpg" alt="">
              <ul class="smallImg clearfix imgTab">
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores eligendi odit! Itaque
                iste ea cum, modi nisi quidem, quaerat ab quam quis ipsam quae! Eos officiis similique doloribus quaerat.
              </p>
              <span class="price">US $25.19</span>
              <div class="buyIt">
                <span class="del"></span>
                <div class="buyBtn">
                  <a href="#">Buy</a>
                </div>
              </div>
            </li>

            <li class="pr wishDel">
              <img src="../images/image_18.jpg" alt="">
              <ul class="smallImg clearfix imgTab">
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores eligendi odit! Itaque
                iste ea cum, modi nisi quidem, quaerat ab quam quis ipsam quae! Eos officiis similique doloribus quaerat.
              </p>
              <span class="price">US $25.19</span>
              <div class="buyIt">
                <span class="del"></span>
                <div class="buyBtn">
                  <a href="#">Buy</a>
                </div>
              </div>
            </li>

            <li class="pr wishDel">
              <img src="../images/image_18.jpg" alt="">
              <ul class="smallImg clearfix imgTab">
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
                <li>
                  <img src="../images/smallImg.png" alt="">
                </li>
              </ul>
              <p>Xiaomi Note 4X Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat asperiores eligendi odit! Itaque
                iste ea cum, modi nisi quidem, quaerat ab quam quis ipsam quae! Eos officiis similique doloribus quaerat.
              </p>
              <span class="price">US $25.19</span>
              <div class="buyIt">
                <span class="del"></span>
                <div class="buyBtn">
                  <a href="#">Buy</a>
                </div>
              </div>
            </li>

          </ul>

          <!-- pagenation -->
          <div class="pagination pr mgb260">
            <div class="pagSelect clearfix">
              <a href="#" class="prev"></a>
              <a href="#" class="num currentPage">1</a>
              <a href="#" class="num">2</a>
              <a href="#" class="num">3</a>
              <a href="#" class="num">...</a>
              <a href="#" class="num">10</a>
              <a href="#" class="next"></a>
            </div>
          </div>

        </li>

        <!-- my profile start -->
        <li class="current">
          <ul class="tit clearfix">
            <li>
              <span class="colorD533">My Proifle</span>
            </li>
            <li>
              <span>Change Password</span>
            </li>
          </ul>
          <ul class="content">
            <!-- my profile detail area -->
            <li class="current colorWhite">
              <div class="mpd">
                <form action="">
                  <div class="mainProfile clearfix">

                    <!-- avator -->
                    <p>
                      <label class="labelW15">Avator</label>
                      <span class="uploadImg pr">
                        <a href="#">
                          <img src="../images/user.png" alt="">
                        </a>
                        <span class="grayUpload">Upload</span>
                        <span class="btn_1">
                          <input type="file" id="file1" name="avatars" value="Upload">
                          <!-- <input type="button" value="Upload" class="fileBtn" style="display: inline-block;"> -->
                          <em class="showFileName"></em>
                          <em class="fileerrorTip">You did not upload the file or provided an invalid file, please try again！</em>
                          <em>
                            <i>*</i> Upload picture can not be more than 2M</em>
                        </span>
                        <input type="hidden" id="avatarsPath" name="avatars_path" value="">
                      </span>
                    </p>

                    <!-- nickName -->
                    <p>
                      <label class="labelW15">Nickname
                        <i>*</i>
                      </label>
                      <input class="f-txt" type="text">
                    </p>

                    <!-- email -->
                    <p>
                      <label class="labelW15">Email</label>
                      <span>liwanping@banggood.com</span>

                      <span class="mailBox">
                        <i class="unauthorized"></i>
                        <a href="#">Verify Now</a>
                      </span>
                      <span class="authorized"> </span>
                    </p>

                    <!-- Gender -->
                    <p>
                      <label class="labelW15">Gender
                        <i>*</i>
                      </label>
                      <label for="male">
                        <input type="radio" id="male" name="gender" class="radio">
                        <span class="radio">Male</span>
                      </label>
                      <label for="female">
                        <input type="radio" id="female" name="gender" class="radio">
                        <span class="radio">Female</span>
                      </label>
                    </p>

                    <!-- Birthday -->
                    <p>
                      <label class="labelW15">Birthday
                        <i>*</i>
                      </label>
                      <input class="f-txt" type="date" value="0000-00-00" id="timer">
                    </p>

                    <!-- Country -->
                    <p>
                      <label class="labelW15">Country
                        <i>*</i>
                      </label>
                      <!-- <input class="f-txt" type="text"> -->
                      <select class="countrySel">
                        <option value="Robyn">Robyn</option>
                        <option value="China">China</option>
                        <option value="Germany">Germany</option>
                        <option value="Canada">Canada</option>
                        <option value="Italy">Italy</option>
                      </select>
                    </p>

                    <!-- my preference -->
                    <p>
                      <label class="labelW15">My Preference
                      </label>
                      <span class="category clearfix">
                        <span class="cateBtn">Category Name</span>
                        <span class="cateBtn">Category Name</span>
                        <span class="cateBtn">Category Name</span>
                        <span class="cateBtn">Category Name</span>
                        <span class="cateBtn">Category Name</span>

                      </span>
                    </p>

                    <!-- subscribe -->
                    <p>
                      <label class="labelW15"></label>
                      <input type="checkbox" class="subsc"> Newsletter Subscribe
                    </p>

                    <!-- save -->
                    <label for="" class="labelW15"></label>
                    <div class="btn">
                      <button type="submit" class="submit">Save</button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <!-- change password detail area -->
            <li>
              <div class="changePwd">
                <form action="" class="Pwd" id="Change_form" method="post">
                  <!-- Old Pwd -->
                  <p>
                    <label class="labelW15">
                      Old Password
                      <i>*</i>

                    </label>
                    <input type="password" name="oldpassword" class="f-txt form-control" id="oldPassword">
                  </p>
                  <!-- New Pwd -->
                  <p>
                    <label class="labelW15">
                      New Password
                      <i>*</i>
                    </label>
                    <input type="password" name="newpassword" class="f-txt form-control" id="newPassword">
                  </p>
                  <!-- Confirm New Pwd -->
                  <p>
                    <label class="labelW15">
                      Confirm New Password
                      <i>*</i>
                    </label>
                    <input type="password" name="ConfirmNewPassword" class="f-txt form-control" id="ConfirmNewPassword">
                  </p>

                  <!-- warning -->
                  <p class="pr">
                    <label class="labelW15"></label>
                    <span class="colorD533 hide">Operation failed,because the old password or new password was wrong</span>
                  </p>

                  <!-- submit -->
                  <label for="" class="labelW15"></label>
                  <div class="btn">
                    <button type="submit" class="submit">Submit</button>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </li>

        <!-- Messages -->
        <li>
          <div class="tit colorD533">
            <div class="colorD533 w95">Inbox</div>
          </div>

          <!-- delete list -->
          <div class="delList">
            <form action="">
              <table class="click-for-del">
                <tr>
                  <th>
                    <input type="checkbox" name="" id="checkAll">
                    <i class="delAll"></i>
                  </th>
                  <th>
                    From
                  </th>
                  <th>
                    Subject
                  </th>
                  <th>
                    Date
                  </th>
                </tr>

                <tr>
                  <td>
                    <input type="checkbox" class="check" name="del">
                    <i></i>
                  </td>
                  <td>
                    XXX Team
                  </td>
                  <td>
                    Hi XXX,Welcome to XXXXXXX...
                  </td>
                  <td>
                    Aug 03 2016
                  </td>
                </tr>

                <tr>
                  <td>
                    <input type="checkbox" class="check" name="del">
                    <i></i>
                  </td>
                  <td>
                    XXX Team
                  </td>
                  <td>
                    Hi XXX,Welcome to XXXXXXX...
                  </td>
                  <td>
                    Aug 03 2016
                  </td>
                </tr>

                <tr>
                  <td>
                    <input type="checkbox" class="check" name="del">
                    <i></i>
                  </td>
                  <td>
                    XXX Team
                  </td>
                  <td>
                    Hi XXX,Welcome to XXXXXXX...
                  </td>
                  <td>
                    Aug 03 2016
                  </td>
                </tr>
                <tr>
                  <td>
                    <input type="checkbox" class="check" name="del">
                    <i></i>
                  </td>
                  <td>
                    XXX Team
                  </td>
                  <td>
                    Hi XXX,Welcome to XXXXXXX...
                  </td>
                  <td>
                    Aug 03 2016
                  </td>
                </tr>
              </table>

              <!-- pagenation -->
              <div class="pagination pr">
                <div class="pagSelect clearfix">
                  <a href="#" class="prev"></a>
                  <a href="#" class="num currentPage">1</a>
                  <a href="#" class="num">2</a>
                  <a href="#" class="num">3</a>
                  <a href="#" class="num">...</a>
                  <a href="#" class="num">10</a>
                  <a href="#" class="next"></a>
                </div>
              </div>
            </form>

            <div class="popAlert">
              <div class="popgray"></div>
              <div class="popContent colorWhite">
                <span class="warn"></span>
                <p>Are you want to delete?</p>
                <span class="noRequest">NO</span>
                <span class="yesRequest">YES</span>
                <span class="confirmBtn">
                  CONFIRM
                </span>
              </div>
            </div>

          </div>

          <!-- when if it have none delete list show this  box-->
          <div class="messageWarning">
            <p>You have not registered any products yet.</p>
            <p class="pr">
              <span class="fl">From {品牌名} Team</span>
              <span class="fr">2017-02-15 14:00:00</span>
            </p>
            <div class="warningContent">
              <p>Click to register you product and gain coupon right away!Click to register your product and gain coupon right
                away!Click to register your product and gain coupon right away!Click to register your product and gain coupon
                right away!</p>
              <p>Click to register you product and gain coupon right away !Click to register your product and gain coupon right
                away !Click to register your product and gain coupon right away !Click to register your product and gain
                coupon right away !</p>
            </div>

          </div>

        </li>

        <!-- Super User -->
        <li>
          <div class="tit colorD533">
            <div class="colorD533 w95">My Applications</div>
          </div>

          <div class="appTit clearfix supub">
            <span class="appNo">Apply No.</span>
            <span class="proL">Product</span>
            <span class="appD">Apply Date</span>
            <!-- Status -->
            <div class="select-box">
              <div class="select-header clearfix">Status</div>
              <ul class="select-content">
                <li>All</li>
                <li>Pending</li>
                <li>Completed</li>
                <li>Closed</li>
              </ul>
            </div>
          </div>

          <div class="clearfix supub">
            <span class="appNo">23</span>
            <span class="proL">
              <img src="../images/image_45.png" alt="">
              <span>Eachine EX120 120mm With 800TVLFPV Camera F3 EVQBrushed LED Buzzer</span>
            </span>
            <span class="appD">Aug 03 2016</span>
            <!-- Status -->
            <div class="sta fl">
              <span>Pending</span>
              <span>
                <a href="#">Details</a>
              </span>
            </div>
          </div>

          <div class="clearfix supub">
            <span class="appNo">23</span>
            <span class="proL">
              <img src="../images/image_45.png" alt="">
              <span>Eachine EX120 120mm With 800TVLFPV Camera F3 EVQBrushed LED Buzzer</span>
            </span>
            <span class="appD">Aug 03 2016</span>
            <!-- Status -->
            <div class="sta fl">
              <span>Pending</span>
              <span>
                <a href="#">Details</a>
              </span>
            </div>
          </div>
          <div class="clearfix supub">
            <span class="appNo">23</span>
            <span class="proL">
              <img src="../images/image_45.png" alt="">
              <span>Eachine EX120 120mm With 800TVLFPV Camera F3 EVQBrushed LED Buzzer</span>
            </span>
            <span class="appD">Aug 03 2016</span>
            <!-- Status -->
            <div class="sta fl">
              <span>Pending</span>
              <span>
                <a href="#">Details</a>
              </span>
            </div>
          </div>

          <!-- pagenation -->
          <div class="pagination pr">
            <div class="pagSelect clearfix">
              <a href="#" class="prev"></a>
              <a href="#" class="num currentPage">1</a>
              <a href="#" class="num">2</a>
              <a href="#" class="num">3</a>
              <a href="#" class="num">...</a>
              <a href="#" class="num">10</a>
              <a href="#" class="next"></a>
            </div>
          </div>

        </li>
      </ul>
    </div>
    <!-- right area end -->

  </main>


  <!-- import footer -->
  <footer class="footer">
    <section class="wrap">
      <section class="clearfix">
        <section class="fl footer_leftPart">
          <h2 class="footer_title">SUBSCRIBE</h2>
          <p>Be the first to know about our latest products.</p>
          <form class="clearfix">
            <input class="email_input fl" type="text" name="subscribe" placeholder="Enter your Email address">
            <button type="button" class="btn_submit fr">Subscribe</button>
          </form>
          <section class="icon_list">
            <a href="javascript: void(0);" target="_blank" class="fb"></a>
            <a href="javascript: void(0);" target="_blank" class="gg"></a>
            <a href="javascript: void(0);" target="_blank" class="In"></a>
            <a href="javascript: void(0);" target="_blank" class="You"></a>
            <a href="javascript: void(0);" target="_blank" class="Twitter"></a>
            <a href="javascript: void(0);" target="_blank" class="pp"></a>
            <a href="javascript: void(0);" target="_blank" class="tt"></a>
          </section>
          <p class="msg">Email: anny@banggood.com</p>
          <p class="msg">Tel: +8612345678</p>
        </section>
        <section class="fr footer_rightPart">

          <dl class="fl">
            <dt>ABOUT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>
          <dl class="fl">
            <dt>SUPPORT</dt>
            <dd>
              <a href="javascript: void(0)">Our Guarantees</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Order Tracking</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Points & Coupons</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">New User Guide</a>
            </dd>
            <dd>
              <a href="javascript: void(0)">Frequently Asked Questions</a>
            </dd>
          </dl>

        </section>
      </section>
      <p class="copy_right">Copyright © 2017 xxx All Rights Reserved</p>
    </section>
  </footer>

  <script src="../js/jquery.js"></script>
  <script src="../js/jquery.searchableSelect.js"></script>
  <script src="../js/ajaxfileupload.js"></script>
  <script src="../js/jquery-validate.js"></script>
  <script src="../js/userCenter.js"></script>

</body>

</html>